<%- include("../partials/header");-%>

    <center>
        <h3 class="gallery-title">Gallery</h3>
    </center>
    <center>
        <div class="gallery" style="font-family: 'Segoe UI'; font-style: normal">
            <a href="/images/gallery/DEC-2020/IMG-20210109-WA0005.webp" data-lightbox="mygallery" data-title="Team Members"><img src="/images/gallery/DEC-2020/IMG-20210109-WA0005webp" alt=""></a>
            <a href="/images/gallery/DEC-2020/IMG-20210109-WA0006.webp" data-lightbox="mygallery" data-title="Team Members"><img src="/images/gallery/DEC-2020/IMG-20210109-WA0006.webp" alt=""></a>
            <a href="/images/gallery/DEC-2020/IMG-20210109-WA0007.webp" data-lightbox="mygallery" data-title="Team Members"><img src="/images/gallery/DEC-2020/IMG-20210109-WA0007.webp" alt=""></a>
            <a href="/images/gallery/DEC-2020/IMG-20210109-WA0008.webp" data-lightbox="mygallery" data-title="Team Members"><img src="/images/gallery/DEC-2020/IMG-20210109-WA0008.webp" alt=""></a>
            <a href="/images/gallery/DEC-2020/IMG-20210109-WA0009.webp" data-lightbox="mygallery" data-title="Our Members sharing food"><img src="/images/gallery/DEC-2020/IMG-20210109-WA0009.webp" alt=""></a>
            <a href="/images/gallery/DEC-2020/IMG-20210109-WA0010.webp" data-lightbox="mygallery" data-title="Our Members sharing food"><img src="/images/gallery/DEC-2020/IMG-20210109-WA0010.webp" alt=""></a>
            <a href="/images/gallery/DEC-2020/IMG-20210109-WA0013.webp" data-lightbox="mygallery" data-title="Our Members sharing food"><img src="/images/gallery/DEC-2020/IMG-20210109-WA0013.webp" alt=""></a>
            <a href="/images/gallery/DEC-2020/IMG-20210109-WA0014.webp" data-lightbox="mygallery" data-title="Our Members sharing food"><img src="/images/gallery/DEC-2020/IMG-20210109-WA0014.webp" alt=""></a>
            <a href="/images/gallery/DEC-2020/IMG-20210109-WA0015.webp" data-lightbox="mygallery" data-title="Our Members sharing food"><img src="/images/gallery/DEC-2020/IMG-20210109-WA0015.webp" alt=""></a>
            <a href="/images/gallery/DEC-2020/IMG-20210109-WA0020.webp" data-lightbox="mygallery" data-title="Our Members sharing food"><img src="/images/gallery/DEC-2020/IMG-20210109-WA0020.webp" alt=""></a>
            <a href="/images/gallery/DEC-2020/IMG-20210109-WA0021.webp" data-lightbox="mygallery" data-title="A member sharing items to the community kids"><img src="/images/gallery/DEC-2020/IMG-20210109-WA0021.webp" alt=""></a>
            <a href="/images/gallery/DEC-2020/IMG-20210109-WA0022.webp" data-lightbox="mygallery" data-title="Our Founder and another member engaging in the activity"><img src="/images/gallery/DEC-2020/IMG-20210109-WA0022.webp" alt=""></a>
            <a href="/images/gallery/DEC-2020/IMG-20210109-WA0023.webp" data-lightbox="mygallery" data-title="Our Members sharing food to the Elderly"><img src="/images/gallery/DEC-2020/IMG-20210109-WA0023.webp" alt=""></a>
            <a href="/images/gallery/DEC-2020/IMG-20210109-WA0024.webp" data-lightbox="mygallery" data-title="Our Founder and another Team Member posing for a Picture with one of the women."><img src="/images/gallery/DEC-2020/IMG-20210109-WA0024.webp" alt=""></a>
            <a href="/images/gallery/DEC-2020/IMG-20210109-WA0026.webp" data-lightbox="mygallery" data-title="One of our Members engaging in a conversation whiles going about our duties"><img src="/images/gallery/DEC-2020/IMG-20210109-WA0026.webp" alt=""></a>
            <a href="/images/gallery/DEC-2020/IMG-20210109-WA0027.webp" data-lightbox="mygallery" data-title="Our Founder in action"><img src="/images/gallery/DEC-2020/IMG-20210109-WA0027.webp" alt=""></a>
            <a href="/images/gallery/DEC-2020/IMG-20210109-WA0028.webp" data-lightbox="mygallery" data-title="Our Members sharing food"><img src="/images/gallery/DEC-2020/IMG-20210109-WA0028.webp" alt=""></a>
            <a href="/images/gallery/DEC-2020/IMG-20210109-WA0029.webp" data-lightbox="mygallery" data-title="Our Founder having a talk with some kids"><img src="/images/gallery/DEC-2020/IMG-20210109-WA0029.webp" alt=""></a>
            <a href="/images/gallery/DEC-2020/IMG-20210109-WA0030.webp" data-lightbox="mygallery" data-title="Team Members"><img src="/images/gallery/DEC-2020/IMG-20210109-WA0030.webp" alt=""></a>
            <a href="/images/gallery/DEC-2020/IMG-20210109-WA0032.webp" data-lightbox="mygallery" data-title="Member speaking  with a kid"><img src="/images/gallery/DEC-2020/IMG-20210109-WA0032.webp" alt=""></a>
            <a href="/images/gallery/DEC-2020/IMG-20210109-WA0034.webp" data-lightbox="mygallery" data-title="Our Founder in action"><img src="/images/gallery/DEC-2020/IMG-20210109-WA0034.webp" alt=""></a>
            <a href="/images/gallery/DEC-2020/IMG-20210109-WA0035.webp" data-lightbox="mygallery" data-title="Our Members in action"><img src="/images/gallery/DEC-2020/IMG-20210109-WA0035.webp" alt=""></a>
            <a href="/images/gallery/DEC-2020/IMG-20210109-WA0036.webp" data-lightbox="mygallery" data-title="Some of the items that were shared"><img src="/images/gallery/DEC-2020/IMG-20210109-WA0036.webp" alt=""></a>
            <a href="/images/gallery/DEC-2020/IMG-20210109-WA0037.webp" data-lightbox="mygallery" data-title="Our Members in action"><img src="/images/gallery/DEC-2020/IMG-20210109-WA0037.webp" alt=""></a>
            <a href="/images/gallery/DEC-2020/IMG-20210109-WA0038.webp" data-lightbox="mygallery" data-title="Our Member in action"><img src="/images/gallery/DEC-2020/IMG-20210109-WA0038.webp" alt=""></a>
            <a href="/images/gallery/DEC-2020/IMG-20210109-WA0039.webp" data-lightbox="mygallery" data-title="Our Founder having a talk with the people."><img src="/images/gallery/DEC-2020/IMG-20210109-WA0039.webp" alt=""></a>
            <a href="/images/gallery/DEC-2020/IMG-20210109-WA0040.webp" data-lightbox="mygallery" data-title="Man spying his package"><img src="/images/gallery/DEC-2020/IMG-20210109-WA0040.webp" alt=""></a>
            <a href="/images/gallery/DEC-2020/IMG-20210109-WA0041.webp" data-lightbox="mygallery" data-title="Nothing is more special than putting smiles on the face of destitute kids"><img src="/images/gallery/DEC-2020/IMG-20210109-WA0041.webp" alt=""></a>
            <a href="/images/gallery/DEC-2020/IMG-20210109-WA0042.webp" data-lightbox="mygallery" data-title="Our Founder in action"><img src="/images/gallery/DEC-2020/IMG-20210109-WA0042.webp" alt=""></a>
            <a href="/images/gallery/DEC-2020/IMG-20210109-WA0045.webp" data-lightbox="mygallery" data-title="Members in action"><img src="/images/gallery/DEC-2020/IMG-20210109-WA0045.webp" alt=""></a>
            <a href="/images/gallery/DEC-2020/IMG-20210109-WA0046.webp" data-lightbox="mygallery" data-title="Team Members"><img src="/images/gallery/DEC-2020/IMG-20210109-WA0046.webp" alt=""></a>
            <a href="/images/gallery/DEC-2020/IMG-20210109-WA0047.webp" data-lightbox="mygallery" data-title="One of the people with her package"><img src="/images/gallery/DEC-2020/IMG-20210109-WA0047.webp" alt=""></a>
            <a href="/images/gallery/DEC-2020/IMG-20210109-WA0048.webp" data-lightbox="mygallery" data-title="Members engaging in conversation with some of the young men whiles going abouttheir activities"><img src="/images/gallery/DEC-2020/IMG-20210109-WA0048.webp" alt=""></a>
            <a href="/images/gallery/DEC-2020/IMG-20210109-WA0050.webp" data-lightbox="mygallery" data-title="Members taking a selfie."><img src="/images/gallery/DEC-2020/IMG-20210109-WA0050.webp" alt=""></a>
            <a href="/images/gallery/DEC-2020/IMG-20210109-WA0054.webp" data-lightbox="mygallery" data-title="Team Member and a member of the community"><img src="/images/gallery/DEC-2020/IMG-20210109-WA0054.webp" alt=""></a>
            <a href="/images/gallery/DEC-2020/IMG-20210109-WA0055.webp" data-lightbox="mygallery" data-title="Our Founder in action again"><img src="/images/gallery/DEC-2020/IMG-20210109-WA0055.webp" alt=""></a>
            <a href="/images/gallery/DEC-2020/IMG-20210109-WA0056.webp" data-lightbox="mygallery" data-title="A Team Member taking a shot with some of the kids"><img src="/images/gallery/DEC-2020/IMG-20210109-WA0056.webp" alt=""></a>
            <a href="/images/gallery/DEC-2020/IMG-20210109-WA0063.webp" data-lightbox="mygallery" data-title="The Ladies in Our Team"><img src="/images/gallery/DEC-2020/IMG-20210109-WA0063.webp" alt=""></a>
            <a href="/images/gallery/DEC-2020/IMG-20210109-WA0064.webp" data-lightbox="mygallery" data-title="The Young Men in Our Team"><img src="/images/gallery/DEC-2020/IMG-20210109-WA0064.webp" alt=""></a>
            <a href="/images/gallery/DEC-2020/IMG-20210109-WA0065.webp" data-lightbox="mygallery" data-title="The Young Men in Our Team"><img src="/images/gallery/DEC-2020/IMG-20210109-WA0065.webp" alt=""></a>
            <a href="/images/gallery/DEC-2020/IMG-20210109-WA0011.webp" data-lightbox="mygallery" data-title="One of the young Men in the community"><img src="/images/gallery/DEC-2020/IMG-20210109-WA0011.webp" alt=""></a>
            <a href="/images/gallery/DEC-2020/IMG-20210109-WA0012.webp" data-lightbox="mygallery" data-title="A member sharing items to the community kids"><img src="/images/gallery/DEC-2020/IMG-20210109-WA0012.webp" alt=""></a>
            <a href="/images/gallery/DEC-2020/IMG-20210109-WA0016.webp" data-lightbox="mygallery" data-title="One Woman grateful for our act of kindness"><img src="/images/gallery/DEC-2020/IMG-20210109-WA0016.webp" alt=""></a>
            <a href="/images/gallery/DEC-2020/IMG-20210109-WA0018.webp" data-lightbox="mygallery" data-title="Some adults waiting to receive theirs"><img src="/images/gallery/DEC-2020/IMG-20210109-WA0018.webp" alt=""></a>
            <a href="/images/gallery/DEC-2020/IMG-20210109-WA0019.webp" data-lightbox="mygallery" data-title="A member distributing some food to the elderly"><img src="/images/gallery/DEC-2020/IMG-20210109-WA0019.webp" alt=""></a>
            <a href="/images/gallery/DEC-2020/IMG-20210109-WA0004.webp" data-lightbox="mygallery" data-title="Team Members"><img src="/images/gallery/DEC-2020/IMG-20210109-WA0004.webp" alt=""></a>
            <a href="/images/gallery/DEC-2020/IMG-20210109-WA0031.webp" data-lightbox="mygallery" data-title="Our Founder"><img src="/images/gallery/DEC-2020/IMG-20210109-WA0031.webp" alt=""></a>
            <a href="/images/gallery/DEC-2020/IMG-20210109-WA0033.webp" data-lightbox="mygallery" data-title="Some of the items that were shared"><img src="/images/gallery/DEC-2020/IMG-20210109-WA0033.webp" alt=""></a>
            <a href="/images/gallery/DEC-2020/IMG-20210109-WA0043.webp" data-lightbox="mygallery" data-title="A member in action"><img src="/images/gallery/DEC-2020/IMG-20210109-WA0043.webp" alt=""></a>
            <a href="/images/gallery/DEC-2020/IMG-20210109-WA0044.webp" data-lightbox="mygallery" data-title="Our Founder and another Member posing to take a Picture with one of the Women"><img src="/images/gallery/DEC-2020/IMG-20210109-WA0044.webp" alt=""></a>
            <a href="/images/gallery/DEC-2020/IMG-20210109-WA0049.webp" data-lightbox="mygallery" data-title="Members and some community people"><img src="/images/gallery/DEC-2020/IMG-20210109-WA0049.webp" alt=""></a>
            <a href="/images/gallery/DEC-2020/IMG-20210109-WA0051.webp" data-lightbox="mygallery" data-title="In talks with some of the community young guys"><img src="/images/gallery/DEC-2020/IMG-20210109-WA0051.webp" alt=""></a>
            <a href="/images/gallery/DEC-2020/IMG-20210109-WA0053.webp" data-lightbox="mygallery" data-title="Our Founder and some of the Team Members"><img src="/images/gallery/DEC-2020/IMG-20210109-WA0053.webp" alt=""></a>
            <a href="/images/gallery/DEC-2020/IMG-20210109-WA0052.webp" data-lightbox="mygallery" data-title="Our Founder taking another shot"><img src="/images/gallery/DEC-2020/IMG-20210109-WA0052.webp" alt=""></a>
            <a href="/images/gallery/DEC-2020/IMG-20210109-WA0057.webp" data-lightbox="mygallery" data-title="Team Members"><img src="/images/gallery/DEC-2020/IMG-20210109-WA0057.webp" alt=""></a>
            <a href="/images/gallery/DEC-2020/IMG-20210109-WA0058.webp" data-lightbox="mygallery" data-title="Members still in action"><img src="/images/gallery/DEC-2020/IMG-20210109-WA0058.webp" alt=""></a>
            <a href="/images/gallery/DEC-2020/IMG-20210109-WA0059.webp" data-lightbox="mygallery" data-title="Our Founder still in action"><img src="/images/gallery/DEC-2020/IMG-20210109-WA0059.webp" alt=""></a>
            <a href="/images/gallery/DEC-2020/IMG-20210109-WA0060.webp" data-lightbox="mygallery" data-title="Member chatting with some kids"><img src="/images/gallery/DEC-2020/IMG-20210109-WA0060.webp" alt=""></a>
            <a href="/images/gallery/DEC-2020/IMG-20210109-WA0061.webp" data-lightbox="mygallery" data-title="Some of the Members and some kids"><img src="/images/gallery/DEC-2020/IMG-20210109-WA0061.webp" alt=""></a>
            <a href="/images/gallery/DEC-2020/IMG-20210109-WA0062.webp" data-lightbox="mygallery" data-title="Our Founder Engaging in talks with the older women"><img src="/images/gallery/DEC-2020/IMG-20210109-WA0062.webp" alt=""></a>
            <a href="/images/gallery/DEC-2020/IMG-20210109-WA0017.webp" data-lightbox="mygallery" data-title="Putting smiles on the destitute kids is all we are about."><img src="/images/gallery/DEC-2020/IMG-20210109-WA0017.webp" alt=""></a>
            <a href="/images/gallery/DEC-2020/IMG-20210109-WA0025.webp" data-lightbox="mygallery" data-title="Members making some discussions"><img src="/images/gallery/DEC-2020/IMG-20210109-WA0025.webp" alt=""></a>


        </div>
    </center>

    <%- include("../partials/footer");-%>