<br>
<br>
<hr>
<section id="our-projects">
    <!-- <div class="row mb-5">
        <div class="col heading">
         <center><h1>Our Projects</h1></center>
        </div>
      </div> -->

    <div class="container-fluid " style="width: 100%; height:100%;background-color:#F1F8FB;">
        <br><br><br>
        <center>
            <h1 style="font-family: 'Segoe UI'; "><i>We Are launching Our First Project This Coming October !!!</i></h1>
        </center>
        <br><br><br>
        <center><img src="/images/launcher2.webp " alt="project-launch " style="width: 40%;height:60%; border-radius:50% "></center>
        <br>
        <center>
            <h1 style="font-family: 'Segoe UI'; "><i><b>Don't miss Out !!!</b></i></h1>
        </center>
        <br><br><br>
    </div>



</section>

<br><br><br><br>
<section id="quote ">
    <div class="container-fluid ">
        <h6 class="quote-ejs-page ">
            <center>"Giving must become more of a lifestyle than a one day show "</center>
        </h6>
        <h5 style="font-family: 'Ubuntu'; ">
            <center>-Osei Eric Owiredu (Founder)</center>
        </h5>

    </div>

</section>

<br>
<br>
<br>



</section>
<hr>
<section id="contactUs">
    <div class="container-fluid contact-me ">
        <center>
            <h3 style=" color: #e74c3c; font-family: 'Ubuntu';">Get In Touch</h3>
        </center>
        <center>
            <h3 style=" color: #e74c3c; font-family: 'Ubuntu'; ">If you want to know more about Us.</h3>
        </center>
        <br/>
        <center>
            <h4 style=" color: #e74c3c;font-family: 'Segoe UI'; font-style:italic ">Want to contact us via email? Let's talk</h4>
        </center>
        <br/>
        <!-- <p class="contact-message ">Want to contact Us ? Let's talk </p> -->
        <center> <a class="btn " style="color: #ffffff;" href="mailto:rcfproject@gmail.com ">CONTACT US</a></center>
    </div>

    <br/>
    <br/>


    <div class="container-fluid bottom-container ">
        <div class="d-flex flex-row justify-content-center ">
            <div class="p-4 ">
                <a href="https://www.facebook.com/Reliance-Charity-Foundation-110304923909197/?referrer=whatsapp ">
                    <i class="social-icon fab fa-facebook-f "></i>
                </a>
            </div>
            <div class="p-4 ">
                <a href="https://www.twitter.com ">
                    <i class="social-icon fab fa-twitter "></i>
                </a>
            </div>
            <div class="p-4 ">
                <a href="https://www.instagram.com/reliancecharityfoundation?r=nametag ">
                    <i class="social-icon fab fa-instagram "></i>
                </a>
            </div>
        </div>
        <!-- <a class="footer-link " href="https://www.linkedin.com/in/emmanuel-kyeremeh-3bb60a170/ ">LinkedIn</a>
        <a class="footer-link " href="https://twitter.com/ekyeremeh7 ">Twitter</a>
        <a class="footer-link " href="https://www.facebook.com/ ">Facebook</a>
        <a class="footer-link " href="https://www.instagram.com/ ">Instagram</a> -->
        <h6 class="copyright " style=" font-family: 'Ubuntu';">+233556572422 | +233279762522</h6>
        <h6 class=" copyrightText " style=" font-family: 'Ubuntu';">rcfproject@gmail.com</h6>
        <h6 class="copyrightText " style=" font-family: 'Ubuntu';">© Copyright 2020 | Reliance Charity Foundation</h6>
        <h6 class="copyrightText " style=" font-family: 'Ubuntu';"> Developed by<a class="myLink " href="https://stark-ocean-58141.herokuapp.com ">Fada E.K</a></h6>
    </div>


</section>

<!-- JS, Popper.js, and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js "></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js "></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js "></script>

</body>

</html>