<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="description" content="Charity Organization">
    <meta name="keywords" content="Reliance,Charity,Foundation,Project">
    <meta name="author" content="Emmanuel Kwabena Kyeremeh">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <title>RCFP | Reliance Charity Foundation Project</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"/>
      <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@800&family=Oxygen:wght@700&family=Ubuntu:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css">
    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,500" rel="stylesheet">
    <!-- <link href="https://fonts.googleapis.com/css?family=Merriweather|Montserrat|Sacramento" rel="stylesheet"> -->
    <link href="/css/stylesForMembers.css" rel="stylesheet" />
    <link rel="icon" href="/images/favicon.ico">
       <!-- Font Awesome -->
       <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

  </head>
  <body>
      <section id="first-section">
        <nav class="navbar navbar-expand-lg navbar-light fixed-top">
            <div class="container">
                <a class="navbar-brand" href="/">Reliance Charity Foundation</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
              
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                      <a class="nav-link " href="/#first-section" >Home</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link " href="/#aboutUs" >About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/#team" >Team Members</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/#contactUs">Contact Us</a>
                      </li>
                  </ul>
    
                </div>
    
            </div>
        </nav>
    
