<%- include("partials/headerForMembers");-%>



<!-- <hr> -->

<!-- <h3 class="founder-page-title"><center>Founder</center></h3> -->
             <div class="container ejs-page content-effect">
                 <center><h3 class="ejs-page-title">Member</h3></center>
                 <center><img src="/images/amoahMercy.jpg" alt="amoahMercy-image" class="ejs-rounded-pic"></center>
         <h6 class="ejsContent">

     <%=amoahMercyContent%>
         </h6>
     </div>
    
<%- include("partials/footer");-%>
