<%- include("partials/headerForMembers");-%>
<div class="container ejs-page">
    <h3 class="ejs-page-title"><center>P.R.O</center></h3>
    <img src="/images/richard-assiwu-director.jpg" alt="director-image" class="ejs-rounded-pic">
    <h6 class="ejsContent">
        <%=directorContent%>
        </h6>
        
    </div>

</div>

<%- include("partials/footer");-%>

