<%- include("partials/headerForMembers");-%>
<div class="container ejs-page content-effect">
    <center><h3 class="ejs-page-title">Director</h3></center>
    <center><img src="/images/richard-assiwu-director.jpg" alt="director-image" class="ejs-rounded-pic"></center>
    <h6 class="ejsContent">
        <%=directorContent%>
        </h6>
        
    </div>

</div>

<%- include("partials/footer");-%>

