<%- include("partials/headerForMembers");-%>
<div id="content-desktop" class="container ejs-page content-effect">
    <center><h3 class="ejs-page-title">Director</h3></center>
    <center><img src="/images/richard-assiwu-director.jpg" alt="relianceCharity-director-image" class="ejs-rounded-pic"></center>
    <h6 class="ejsContent">
        <%=directorContent%>
        </h6>
        
    </div>

</div>


<div id="content-mobile" class="container mobile-marginal">
    <center><h3 class="ejs-page-title">Director</h3></center>
    <center><img src="/images/richard-assiwu-director.jpg" alt="relianceCharity-director-image" class="ejs-rounded-pic"></center>
<h6 class="mobileEjsContent">

    <%=directorContent%>
</h6>
</div>



<%- include("partials/footer");-%>

