<%- include("partials/header");-%>



<div id="content-desktop" class="donate-margin">
    <div class="row mb-5">
        <div class="col heading">
          <h1><center>Donate to Us</center></h1>
        </div>
      </div>
    
    <div class="container-fluid "style="width: 50%; float:left; height:90%">

       <p class="plea">Reliance Charity Foundation relies on the support of individuals, 
           small businesses  and corporations to make a change.
     If you are passionate as we are about the welfare of children and adults or are interested in giving back to our community,
      we invite you to sponsor or partner with us in our efforts.</p>


         <h3 class="help-message">
            <center><b>WE CAN'T DO IT WITHOUT YOU !</b></center>
          </h3>
         
      <div class="container-fluid mobile-donate-margin  boxedPadding bankBoxedStyle ">
        <br>
        <h3 class="viah3">
            <center><b>Bank Account</b></center>
          </h3>
          <center><img src="/images/adb-logo.webp" alt="adb-bank-logo" style="width: 30%;  height:30%"></center>
      
          
        <h3>
         <u>Account Name</u>: Reliance Charity Foundation
         </h3>
      
 
         
         <h3>
          <u>Account No</u>: 1142000147687301
         </h3>
      
 
         
         <h3>
          <u>Branch</u>:  Lapaz
         </h3>
     
          
         
    </div>

    <h2 class="viah3">
        <center>Or  Via </center>
       </h2>

       <br>
       <br>
    <div class="container-fluid boxedPadding boxedStyle">
        <center><img src="/images/mtn-mobile-money.png" alt="mtn-mobile-money-logo"> </center>
        <!-- <h3><center><b>+233 54 893 0735</b></center></h3> -->
    </div>



    </div>

    <section id="contact-us-form">
        <div class="container-fluid "style="width: 50%; float:right; height:90%">
            <form class="form-border " >
               
                
                <h5>
                    <b> Send Us A Message About How You Wish 
                        To Support This Organization and We Shall Contact You Shortly. We would be 
                        Glad to Hear From You.</b>
                </h5>
    
                <div class="form-group">
                    <label for="exampleInputEmail1"><b> First Name</b></label>
                    <input class="form-control" >
                   
                  </div>
    
                  <div class="form-group">
                    <label for="exampleInputEmail1"><b>Second Name</b></label>
                    <input class="form-control">
                    
                  </div>
              
                    
            <div class="form-group">
              <label for="exampleInputEmail1"><b>Email address</b></label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
              <small id="emailHelp" class="form-text text-muted"><b>We'll never share your email with anyone else.</b></small>
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1"><b>Password</b></label>
              <input type="password" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="form-group form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1"><b>Check me out</b></label>
            </div>
    
            <div class="form-group">
                <label for="exampleFormControlTextarea1">
                    <b> Briefly tell us how you wish to support our cause</b>
                </label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3">
           
                </textarea>
              </div>
            <button type="submit" class="btn btn-primary">SEND MESSAGE</button>
          </form>
        </div>
    </section>
   

  </div>
</div>

    
<div id="content-mobile" class="mobile-donate-margin">
    <div class="row mb-5">
        <div class="col heading">
          <h1><center>Donate to Us</center></h1>
        </div>
      </div>

<!-- boxedPadding boxedStyle -->
<p class="plea">Reliance Charity Foundation relies on the support of individuals, 
    small businesses  and corporations to make a change.
If you are passionate as we are about the welfare of children and adults or are interested in giving back to our community,
we invite you to sponsor or partner with us in our efforts.</p>


  <h3 class="help-message">
     <center><b>WE CAN'T DO IT WITHOUT YOU !</b></center>
   </h3>

      <div class="container-fluid mobile-donate-margin  boxedPadding bankBoxedStyle ">
      
        <br>
        <h3 class="viah3">
            <center><b>Bank Account</b></center>
          </h3>
          <center><img src="/images/adb-logo.webp" alt="adb-bank-logo" style="width: 30%;  height:30%"></center>
      
          
        <h3>
         <u>Account Name</u>: Reliance Charity Foundation
         </h3>
      
 
         
         <h3>
          <u>Account No</u>: 1142000147687301
         </h3>
      
 
         
         <h3>
          <u>Branch</u>: Lapaz
         </h3>
     
          
         
    </div>
    <br>
    <br>

    <h2 class="viah3">
        <center>Or  Via </center>
       </h2>

       <br>
       <br>
    <div class="container-fluid boxedPadding boxedStyle">
        <center><img src="/images/mtn-mobile-money.png" alt="mtn-mobile-money-logo"> </center>
        <!-- <h3><center><b>+233 54 893 0735</b></center></h3> -->
    </div>
    <br>
       <br>
       <br>
       <br>
    <div class="container-fluid "style="width: 100%; ">
        <form class="form-border " >
           
            
            <h5>
                <b> Send Us A Message About How You Wish 
                    To Support This Organization and We Shall Contact You Shortly. We would be 
                    Glad to Hear From You.</b>
            </h5>

            <div class="form-group">
                <label for="exampleInputEmail1"><b> First Name</b></label>
                <input class="form-control" >
               
              </div>

              <div class="form-group">
                <label for="exampleInputEmail1"><b>Second Name</b></label>
                <input class="form-control">
                
              </div>
          
                
        <div class="form-group">
          <label for="exampleInputEmail1"><b>Email address</b></label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          <small id="emailHelp" class="form-text text-muted"><b>We'll never share your email with anyone else.</b></small>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1"><b>Password</b></label>
          <input type="password" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1"><b>Check me out</b></label>
        </div>

        <div class="form-group">
            <label for="exampleFormControlTextarea1">
                <b> Briefly tell us how you wish to support our cause</b>
            </label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3">
       
            </textarea>
          </div>
        <button type="submit" class="btn btn-primary">SEND MESSAGE</button>
      </form>
    </div>



</div>



<%- include("partials/donateUsfooter");-%>
<!-- ejs-rounded-pic -->