<%- include("partials/header");-%>



    <div id="content-desktop" class="donate-margin">

        <div class="row mb-5">
            <div class="col heading">
                <h1>
                    <center>Donate to Us</center>
                </h1>
            </div>
        </div>

        <section id="sponsor-or-support">
            <div class="container-fluid " style="width: 50%; float:left; height:90%">
                <center><img src="/images/helpingHand.webp" style="width: 16%; height:16%; border-radius:50% " alt="helping-hand"></center>

                <p class="plea"><b>Do you Want to Sponsor a project or Support a child ?</b><br>Reliance Charity Foundation relies on the support of individuals, small businesses and corporations to make a change. If you are passionate as we are about the welfare of
                    children and adults or are interested in giving back to our community, we invite you to sponsor or partner with us in our efforts.</p>


                <h3 class="help-message">
                    <center><b>WE CAN'T DO IT WITHOUT YOU !</b></center>
                </h3>

                <div class="container-fluid mobile-donate-margin  boxedPadding bankBoxedStyle ">
                    <br>
                    <h3 class="viah3">
                        <center><b>Bank Account</b></center>
                    </h3>
                    <center><img src="/images/adb-logo.webp" alt="adb-bank-logo" style="width: 30%;  height:30%"></center>


                    <h3>
                        <u>Account Name</u>: Reliance Charity Foundation
                    </h3>



                    <h3>
                        <u>Account No</u>: 1142000147687301
                    </h3>



                    <h3>
                        <u>Branch</u>: Lapaz, Accra-Ghana
                    </h3>



                </div>

                <h2 class="viah3">
                    <center>Or Via </center>
                </h2>
                <br>
                <div class="container-fluid desktop-donate-margin boxedPadding boxedStyle">
                    <center><img src="/images/mtn-mobile-money.webp" alt="mtn-mobile-money-logo"> </center>
                    <h3>
                        <center>Registered Name:<b> Reliance Charity Foundation</b></center>
                    </h3>
                    <h3>
                        <center>Mobile Money Number:<b>&nbsp;&nbsp;&nbsp;&nbsp;+233 595 854 985</b></center>
                    </h3>
                </div>



            </div>
        </section>


        <section id="contact-us-form">
            <div class="container-fluid " style="width: 50%; float:right; height:90%">
                <!--<form class="form-border " action="mailto:ekyeremeh7@gmail.com"-->
                <!--enctype="text/plain" method="POST" >-->
                <form class="form-border " action="https://www.elformo.com/forms/ec4d2e6b-e9b6-4ee6-b2d6-c110d90d14fc" method="post" accept-charset="UTF-8">
                    <br>
                    <br>
                    <br>

                    <h5>
                        <b>Do you want to Volunteer to help ?</b>
                        <b> Send Us A Message About How You Wish 
                        To Support This Organization and We Shall Contact You Shortly. We would be 
                        Glad to Hear From You.</b>
                    </h5>

                    <div class="form-group">
                        <label for="exampleInputEmail1"><b> First Name</b></label>
                        <input class="form-control" id="fname" name="firstname">

                    </div>

                    <div class="form-group">
                        <label for="exampleInputEmail1"><b>Second Name</b></label>
                        <input class="form-control" id="lname" name="lastname">

                    </div>


                    <div class="form-group">
                        <label for="exampleInputEmail1"><b>Email address</b></label>
                        <input type="email" class="form-control" id="email" aria-describedby="emailHelp" name="email">
                        <small id="emailHelp" class="form-text text-muted"><b>We'll never share your email with anyone else.</b></small>
                    </div>

                    <div class="form-group">
                        <label for="exampleInputEmail1"><b>Phone Number</b></label>
                        <input type="tel" class="form-control" id="phone" name="phone">

                    </div>

                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1"><b>Check me out</b></label>
                    </div>

                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">
                    <b> Briefly tell us how you wish to support our cause</b>
                </label>
                        <textarea class="form-control" id="comment" name="comment" rows="3">
           
                </textarea>
                    </div>
                    <button type="submit" id="submit" name="submit" class="btn btn-primary">SEND MESSAGE</button>
                </form>

                <h6 class="quote-ejs-page">
                    <center>"Giving must become more of a lifestyle than a one day show"</center>
                </h6>
                <h5 style="margin-bottom: 30px;">
                    <center>-Osei Eric Owiredu (Founder)</center>
                </h5>

            </div>
        </section>




    </div>
    </div>


    <div id="content-mobile" class="mobile-donate-margin">
        <br><br><br><br>
        <div class="row mb-5">
            <div class="col heading donate-us-margin-top">
                <h1>
                    <center>Donate to Us</center>
                </h1>
            </div>
        </div>

        <section id="sponsor-or-support">
            <center><img src="/images/helpingHand.webp" style="width: 25%; height:25%; border-radius:50% " alt="helping-hand"></center>

            <p class="plea">
                <b>Do you Want to Sponsor a project or Support a child ?</b><br> Reliance Charity Foundation relies on the support of individuals, small businesses and corporations to make a change. If you are passionate as we are about the welfare of
                children and adults or are interested in giving back to our community, we invite you to sponsor or partner with us in our efforts.</p>


            <h3 class="help-message">
                <center><b>WE CAN'T DO IT WITHOUT YOU !</b></center>
            </h3>

            <div class="container-fluid mobile-donate-margin  boxedPadding bankBoxedStyle ">

                <br>
                <h3 class="viah3">
                    <center><b>Bank Account</b></center>
                </h3>
                <center><img src="/images/adb-logo.webp" alt="adb-bank-logo" style="width: 30%;  height:30%"></center>


                <h3>
                    <u>Account Name</u>: Reliance Charity Foundation
                </h3>



                <h3>
                    <u>Account No</u>: 1142000147687301
                </h3>



                <h3>
                    <u>Branch</u>: Lapaz, Accra-Ghana
                </h3>



            </div>
            <br>
            <br>

            <h2 class="viah3">
                <center>Or Via </center>
            </h2>

            <br>
            <br>
            <div class="container-fluid  mobile-donate-margin boxedPadding boxedStyle">
                <center><img src="/images/mtn-mobile-money.webp" alt="mtn-mobile-money-logo"> </center>
                <h3>
                    <center>Registered Name:<b> Reliance Charity Foundation</b></center>
                </h3>
                <h3>
                    <center>Mobile Money Number:<b>&nbsp;&nbsp;&nbsp;&nbsp;+233 595 854 985</b></center>
                </h3>
            </div>
            <br>
            <br>
            <br>
            <br>
        </section>



        <!-- boxedPadding boxedStyle -->
        <section id="contact-us-form">
            <div class="container-fluid " style="width: 100%; ">

                <!--<form class="form-border " action="mailto:rcfproject@gmail.com"-->
                <!--      enctype="text/plain" method="POST" >-->
                <form class="form-border " action="https://www.elformo.com/forms/ec4d2e6b-e9b6-4ee6-b2d6-c110d90d14fc" method="post" accept-charset="UTF-8">
                    <br>
                    <br>
                    <br>

                    <h5>
                        <b>Do you want to Volunteer to help ?</b>
                        <b> Send Us A Message About How You Wish 
                  To Support This Organization and We Shall Contact You Shortly. We would be 
                  Glad to Hear From You.</b>
                    </h5>


                    <div class="form-group">
                        <label for="exampleInputEmail1"><b> First Name</b></label>
                        <input class="form-control" id="fname" name="firstname">

                    </div>

                    <div class="form-group">
                        <label for="exampleInputEmail1"><b>Second Name</b></label>
                        <input class="form-control" id="lname" name="lastname">

                    </div>


                    <div class="form-group">
                        <label for="exampleInputEmail1"><b>Email address</b></label>
                        <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp">
                        <small id="emailHelp" class="form-text text-muted"><b>We'll never share your email with anyone else.</b></small>
                    </div>

                    <div class="form-group">
                        <label for="exampleInputEmail1"><b>Phone Number</b></label>
                        <input type="tel" class="form-control" id="phone" name="phone">

                    </div>
                    <!-- <div class="form-group">
        <label for="exampleInputPassword1"><b>Password</b></label>
        <input type="password" class="form-control" id="exampleInputPassword1">
      </div> -->
                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1"><b>Check me out</b></label>
                    </div>

                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">
              <b> Briefly tell us how you wish to support our cause</b>
          </label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" id="comment" name="comment">
     
          </textarea>
                    </div>
                    <button type="submit" name="submit" id="submit" class="btn btn-primary">SEND MESSAGE</button>
                </form>

                <h6 class="quote-ejs-page">
                    <center>"Giving must become more of a lifestyle than a one day show"</center>
                </h6>
                <h5>
                    <center>-Osei Eric Owiredu (Founder)</center>
                </h5>

            </div>

        </section>




    </div>



    <%- include("partials/donateUsfooter");-%>