<%- include("partials/headerForMembers");-%>
<div class="container ejs-page content-effect">
    <center><h3 class="ejs-page-title">Financial Secretary</h3></center>
    <center><img src="/images/kwakye-fianko-financial-secretary.jpg" alt="relianceCharity-financial-Secretary-image" class="ejs-rounded-pic"></center>
    <h6 class="ejsContent">
        <%=financialSecretaryContent%>
        </h6>
        
    </div>

</div>

<%- include("partials/footer");-%>

