<%- include("partials/headerForMembers");-%>



<!-- <hr> -->

<!-- <h3 class="founder-page-title"><center>Founder</center></h3> -->
             <div class="container ejs-page content-effect">
                 <h3 class="ejs-page-title"><center>Founder</center></h3>
                <img src="/images/founder-profile.jpg" alt="founder-image" class="ejs-rounded-pic">
         <h6 class="ejsContent">

     <%=founderContent%>
         </h6>
     </div>
    
<%- include("partials/footer");-%>
