<%- include("partials/header");-%>
  
     <center><h3 class="gallery-title" >Gallery</h3></center>
    
     <center> <div class="gallery" style="font-family: 'Segoe UI'; font-style:normal">
        <a href="/images/gallery/IMG-20201022-WA0038.webp" data-lightbox="mygallery" data-title="Our Founder addressing the Kids"><img src="/images/gallery/IMG-20201022-WA0038.webp" alt=""></a>
        <a href="/images/gallery/IMG-20201022-WA0039.webp" data-lightbox="mygallery" data-title="Kids from Royal Seed Orphanage Home"><img src="/images/gallery/IMG-20201022-WA0039.webp" alt=""></a>
        <a href="/images/gallery/IMG-20201022-WA0041.webp" data-lightbox="mygallery" data-title="One of our Team Members with a kid"><img src="/images/gallery/IMG-20201022-WA0041.webp" alt=""></a>
        <a href="/images/gallery/IMG-20201022-WA0042.webp" data-lightbox="mygallery" data-title="Our Founder with some of the kids"><img src="/images/gallery/IMG-20201022-WA0042.webp" alt=""></a>
        <a href="/images/gallery/IMG-20201022-WA0043.webp" data-lightbox="mygallery" data-title="Our Founder with one of the kids"><img src="/images/gallery/IMG-20201022-WA0043.webp" alt=""></a>
        <a href="/images/gallery/IMG-20201022-WA0044.webp" data-lightbox="mygallery" data-title="One of the Care Takers of the Orphanage"><img src="/images/gallery/IMG-20201022-WA0044.webp" alt=""></a>
        <a href="/images/gallery/IMG-20201022-WA0045.webp" data-lightbox="mygallery" data-title="Our Team Interacting with the Kids" ><img src="/images/gallery/IMG-20201022-WA0045.webp" alt=""></a>
        <a href="/images/gallery/IMG-20201022-WA0046.webp" data-lightbox="mygallery" data-title="Kids"><img src="/images/gallery/IMG-20201022-WA0046.webp" alt=""></a>
        <a href="/images/gallery/IMG-20201022-WA0047.webp" data-lightbox="mygallery" data-title="The Ladies in Our Team"><img src="/images/gallery/IMG-20201022-WA0047.webp" alt=""></a>
        <a href="/images/gallery/IMG-20201022-WA0049.webp" data-lightbox="mygallery" data-title="The Men in Our Team"><img src="/images/gallery/IMG-20201022-WA0049.webp" alt=""></a>
        <a href="/images/gallery/IMG-20201022-WA0050.webp" data-lightbox="mygallery" data-title="A member with some of the kids"><img src="/images/gallery/IMG-20201022-WA0050.webp" alt=""></a>
        <a href="/images/gallery/IMG-20201022-WA0051.webp" data-lightbox="mygallery" data-title="Kid Smiling"><img src="/images/gallery/IMG-20201022-WA0051.webp" alt=""></a>
        <a href="/images/gallery/IMG-20201022-WA0052.webp" data-lightbox="mygallery" data-title="Our Team"><img src="/images/gallery/IMG-20201022-WA0052.webp" alt=""></a>
        <a href="/images/gallery/IMG-20201022-WA0055.webp" data-lightbox="mygallery" data-title="Team Members with a kid"><img src="/images/gallery/IMG-20201022-WA0055.webp" alt=""></a>
        <a href="/images/gallery/IMG-20201022-WA0056.webp" data-lightbox="mygallery" data-title="Some of the Items That were Donated"><img src="/images/gallery/IMG-20201022-WA0056.webp" alt=""></a>
        <a href="/images/gallery/IMG-20201022-WA0058.webp" data-lightbox="mygallery" data-title="Care Taker in the Orphanage"><img src="/images/gallery/IMG-20201022-WA0058.webp" alt=""></a>
        <a href="/images/gallery/IMG-20201022-WA0059.webp" data-lightbox="mygallery" data-title="Kid"><img src="/images/gallery/IMG-20201022-WA0059.webp" alt=""></a>
        <a href="/images/gallery/IMG-20201022-WA0060.webp" data-lightbox="mygallery" data-title="Team Member Praying"><img src="/images/gallery/IMG-20201022-WA0060.webp" alt=""></a>
        <a href="/images/gallery/IMG-20201022-WA0061.webp" data-lightbox="mygallery" data-title="Kids"><img src="/images/gallery/IMG-20201022-WA0061.webp" alt=""></a>
        <a href="/images/gallery/IMG-20201022-WA0064.webp" data-lightbox="mygallery" data-title="Member with one of the kids on his shoulders"><img src="/images/gallery/IMG-20201022-WA0064.webp" alt=""></a>
        <a href="/images/gallery/IMG-20201022-WA0065.webp" data-lightbox="mygallery" data-title="Kid Smiling"><img src="/images/gallery/IMG-20201022-WA0065.webp" alt=""></a>
        <a href="/images/gallery/IMG-20201022-WA0066.webp" data-lightbox="mygallery" data-title="Kids"><img src="/images/gallery/IMG-20201022-WA0066.webp" alt=""></a>
        <a href="/images/gallery/IMG-20201022-WA0067.webp" data-lightbox="mygallery" data-title="Kids"><img src="/images/gallery/IMG-20201022-WA0067.webp" alt=""></a>
        <a href="/images/gallery/IMG-20201022-WA0069.webp" data-lightbox="mygallery" data-title="Team Members"><img src="/images/gallery/IMG-20201022-WA0069.webp" alt=""></a>
        <a href="/images/gallery/IMG-20201022-WA0070.webp" data-lightbox="mygallery" data-title="Team Members"><img src="/images/gallery/IMG-20201022-WA0070.webp" alt=""></a>
        <a href="/images/gallery/IMG-20201022-WA0071.webp" data-lightbox="mygallery" data-title="Having Service with the Kids"><img src="/images/gallery/IMG-20201022-WA0071.webp" alt=""></a>
        <a href="/images/gallery/IMG-20201022-WA0072.webp" data-lightbox="mygallery" data-title="Our Founder with one of the Kids"><img src="/images/gallery/IMG-20201022-WA0072.webp" alt=""></a>
        <a href="/images/gallery/IMG-20201022-WA0073.webp" data-lightbox="mygallery" data-title="Group Picture of the Team and the Kids"><img src="/images/gallery/IMG-20201022-WA0073.webp" alt=""></a>
        <a href="/images/gallery/IMG-20201022-WA0074.webp" data-lightbox="mygallery" data-title="Having service with the kids"><img src="/images/gallery/IMG-20201022-WA0074.webp" alt=""></a>
        <a href="/images/gallery/IMG-20201022-WA0075.webp" data-lightbox="mygallery" data-title="Our Founder interacting with the kids"><img src="/images/gallery/IMG-20201022-WA0075.webp" alt=""></a>
        <a href="/images/gallery/IMG-20201022-WA0076.webp" data-lightbox="mygallery" data-title="Another Team Member Speaking"><img src="/images/gallery/IMG-20201022-WA0076.webp" alt=""></a>
        <a href="/images/gallery/IMG-20201022-WA0077.webp" data-lightbox="mygallery" data-title="Team Members"><img src="/images/gallery/IMG-20201022-WA0077.webp" alt=""></a>
        <a href="/images/gallery/IMG-20201022-WA0078.webp" data-lightbox="mygallery" data-title="Kid"><img src="/images/gallery/IMG-20201022-WA0078.webp" alt=""></a>
        <a href="/images/gallery/IMG-20201022-WA0079.webp" data-lightbox="mygallery" data-title="Kid"><img src="/images/gallery/IMG-20201022-WA0079.webp" alt=""></a>
        <a href="/images/gallery/IMG-20201022-WA0080.webp" data-lightbox="mygallery" data-title="Team Member"><img src="/images/gallery/IMG-20201022-WA0080.webp" alt=""></a>
        <a href="/images/gallery/IMG-20201022-WA0103.webp" data-lightbox="mygallery" data-title="Our Team"><img src="/images/gallery/IMG-20201022-WA0103.webp" alt=""></a>
        <a href="/images/gallery/IMG-20201022-WA0104.webp" data-lightbox="mygallery" data-title="The Team and the Kids"><img src="/images/gallery/IMG-20201022-WA0104.webp" alt=""></a>  
        <a href="/images/gallery/IMG-20201022-WA0105.webp" data-lightbox="mygallery" data-title="Our Founder handling an envelope over to one of the CareTakers of Royal Seed Orphanage Home"><img src="/images/gallery/IMG-20201022-WA0105.webp" alt=""></a>
        <a href="/images/gallery/IMG-20201022-WA0106.webp" data-lightbox="mygallery" data-title="Donated Items"><img src="/images/gallery/IMG-20201022-WA0106.webp" alt=""></a>
        <a href="/images/gallery/IMG-20201022-WA0107.webp" data-lightbox="mygallery" data-title="Team Member with Kid"><img src="/images/gallery/IMG-20201022-WA0107.webp" alt=""></a>
        <a href="/images/gallery/IMG-20201022-WA0108.webp" data-lightbox="mygallery" data-title="Kids"><img src="/images/gallery/IMG-20201022-WA0108.webp" alt=""></a>
        <a href="/images/gallery/IMG-20201022-WA0109.webp" data-lightbox="mygallery" data-title="One of the Members playing guitar"><img src="/images/gallery/IMG-20201022-WA0109.webp" alt=""></a>
        <a href="/images/gallery/IMG-20201022-WA0110.webp" data-lightbox="mygallery" data-title="Team Member sharing items to the Kids"><img src="/images/gallery/IMG-20201022-WA0110.webp" alt=""></a>
        <a href="/images/gallery/IMG-20201022-WA0111.webp" data-lightbox="mygallery" data-title="Our Founder Praying"><img src="/images/gallery/IMG-20201022-WA0111.webp" alt=""></a>
        <a href="/images/gallery/IMG-20201022-WA0112.webp" data-lightbox="mygallery" data-title="Members having fun with the Kid"><img src="/images/gallery/IMG-20201022-WA0112.webp" alt=""></a>
        <a href="/images/gallery/IMG-20201022-WA0113.webp" data-lightbox="mygallery" data-title="Kids"><img src="/images/gallery/IMG-20201022-WA0113.webp" alt=""></a>
        <a href="/images/gallery/IMG-20201022-WA0114.webp" data-lightbox="mygallery" data-title="Kid smiling with One of our Team Members"><img src="/images/gallery/IMG-20201022-WA0114.webp" alt=""></a>
        <a href="/images/gallery/IMG-20201022-WA0116.webp" data-lightbox="mygallery" data-title="Kid In WheelChair"><img src="/images/gallery/IMG-20201022-WA0116.webp" alt=""></a>
        <a href="/images/gallery/IMG-20201022-WA0118.webp" data-lightbox="mygallery" data-title="Kid Smiling"><img src="/images/gallery/IMG-20201022-WA0118.webp" alt=""></a>
        <a href="/images/gallery/IMG-20201022-WA0119.webp" data-lightbox="mygallery" data-title="Kids Praying"><img src="/images/gallery/IMG-20201022-WA0119.webp" alt=""></a>
        <a href="/images/gallery/IMG-20201022-WA0120.webp" data-lightbox="mygallery" data-title="Kids"><img src="/images/gallery/IMG-20201022-WA0120.webp" alt=""></a>
        <a href="/images/gallery/IMG-20201022-WA0121.webp" data-lightbox="mygallery" data-title="Kids"><img src="/images/gallery/IMG-20201022-WA0121.webp" alt=""></a>
        <a href="/images/gallery/IMG-20201022-WA0122.webp" data-lightbox="mygallery" data-title="Kids"><img src="/images/gallery/IMG-20201022-WA0122.webp" alt=""></a>
        <a href="/images/gallery/IMG-20201022-WA0123.webp" data-lightbox="mygallery" data-title="Team Member Praying"><img src="/images/gallery/IMG-20201022-WA0123.webp" alt=""></a>
        <a href="/images/gallery/IMG-20201022-WA0124.webp" data-lightbox="mygallery" data-title="Team Member interacting with the Kids"><img src="/images/gallery/IMG-20201022-WA0124.webp" alt=""></a>
        <a href="/images/gallery/IMG-20201022-WA0125.webp" data-lightbox="mygallery" data-title="Another Team Member sharing Candy to the Kids"><img src="/images/gallery/IMG-20201022-WA0125.webp" alt=""></a>
        <a href="/images/gallery/IMG-20201022-WA0081.webp" data-lightbox="mygallery" data-title="Team Member with Kid"><img src="/images/gallery/IMG-20201022-WA0081.webp" alt=""></a>
        <a href="/images/gallery/IMG-20201022-WA0093.webp" data-lightbox="mygallery" data-title="Team Member"><img src="/images/gallery/IMG-20201022-WA0093.webp" alt=""></a>
        <a href="/images/gallery/IMG-20201022-WA0094.webp" data-lightbox="mygallery" data-title="Team Member Praying"><img src="/images/gallery/IMG-20201022-WA0094.webp" alt=""></a>
        <a href="/images/gallery/IMG-20201022-WA0095.webp" data-lightbox="mygallery" data-title="Kids"><img src="/images/gallery/IMG-20201022-WA0095.webp" alt=""></a>
        <a href="/images/gallery/IMG-20201022-WA0096.webp" data-lightbox="mygallery" data-title="Kid"><img src="/images/gallery/IMG-20201022-WA0096.webp" alt=""></a>
        <a href="/images/gallery/IMG-20201022-WA0097.webp" data-lightbox="mygallery" data-title="Our Founder Praying"><img src="/images/gallery/IMG-20201022-WA0097.webp" alt=""></a>
        <a href="/images/gallery/IMG-20201022-WA0098.webp" data-lightbox="mygallery" data-title="Team Member"><img src="/images/gallery/IMG-20201022-WA0098.webp" alt=""></a>
        <a href="/images/gallery/IMG-20201022-WA0099.webp" data-lightbox="mygallery" data-title="Team Members"><img src="/images/gallery/IMG-20201022-WA0099.webp" alt=""></a>
        <a href="/images/gallery/IMG-20201022-WA0082.webp" data-lightbox="mygallery" data-title="Our Founder handling over an envelope to one of the CareTakers of the Royal Seed Home Orphanage"><img src="/images/gallery/IMG-20201022-WA0082.webp" alt=""></a>
        <a href="/images/gallery/IMG-20201022-WA0083.webp" data-lightbox="mygallery" data-title="Team Members"><img src="/images/gallery/IMG-20201022-WA0083.webp" alt=""></a>
        <a href="/images/gallery/IMG-20201022-WA0085.webp" data-lightbox="mygallery" data-title="Team Members"><img src="/images/gallery/IMG-20201022-WA0085.webp" alt=""></a>
        <a href="/images/gallery/IMG-20201022-WA0086.webp" data-lightbox="mygallery" data-title="Our Team"><img src="/images/gallery/IMG-20201022-WA0086.webp" alt=""></a>
        <a href="/images/gallery/IMG-20201022-WA0087.webp" data-lightbox="mygallery" data-title="Team Members"><img src="/images/gallery/IMG-20201022-WA0087.webp" alt=""></a>
        <a href="/images/gallery/IMG-20201022-WA0088.webp" data-lightbox="mygallery" data-title="Group picture with the Kids"><img src="/images/gallery/IMG-20201022-WA0088.webp" alt=""></a>
        <a href="/images/gallery/IMG-20201022-WA0089.webp" data-lightbox="mygallery" data-title="Our Founder with two of the Kids"><img src="/images/gallery/IMG-20201022-WA0089.webp" alt=""></a>
        <a href="/images/gallery/IMG-20201022-WA0090.webp" data-lightbox="mygallery" data-title="Group picture of our Team and all the kids"><img src="/images/gallery/IMG-20201022-WA0090.webp" alt=""></a>
        <a href="/images/gallery/IMG-20201022-WA0091.webp" data-lightbox="mygallery" data-title="Our Founder with two of the Kids"><img src="/images/gallery/IMG-20201022-WA0091.webp" alt=""></a>
        <a href="/images/gallery/IMG-20201022-WA0100.webp" data-lightbox="mygallery" data-title="Kids"><img src="/images/gallery/IMG-20201022-WA0100.webp" alt=""></a> 
        <a href="/images/gallery/IMG-20201022-WA0101.webp" data-lightbox="mygallery" data-title="Kids"><img src="/images/gallery/IMG-20201022-WA0101.webp" alt=""></a>
        <a href="/images/gallery/IMG-20201022-WA0053.webp" data-lightbox="mygallery" data-title="Group picture of our Team and all the kids"><img src="/images/gallery/IMG-20201022-WA0053.webp" alt=""></a>
        <a href="/images/gallery/IMG-20201022-WA0054.webp" data-lightbox="mygallery" data-title="Kid Smiling"><img src="/images/gallery/IMG-20201022-WA0054.webp" alt=""></a>
        <a href="/images/gallery/IMG-20201022-WA0062.webp" data-lightbox="mygallery" data-title="Kid"><img src="/images/gallery/IMG-20201022-WA0062.webp" alt=""></a>
        <a href="/images/gallery/IMG-20201022-WA0115.webp" data-lightbox="mygallery" data-title="Team Members"><img src="/images/gallery/IMG-20201022-WA0115.webp" alt=""></a>
        <a href="/images/gallery/IMG-20201022-WA0117.webp" data-lightbox="mygallery" data-title="Our Founder Praying"><img src="/images/gallery/IMG-20201022-WA0117.webp" alt=""></a>
        <a href="/images/gallery/IMG-20201022-WA0068.webp" data-lightbox="mygallery" data-title="Team Member"><img src="/images/gallery/IMG-20201022-WA0068.webp" alt=""></a>
        <a href="/images/gallery/IMG-20201022-WA0092.webp" data-lightbox="mygallery" data-title="Kid Smiling"><img src="/images/gallery/IMG-20201022-WA0092.webp" alt=""></a>
        <a href="/images/gallery/IMG-20201022-WA0040.webp" data-lightbox="mygallery" data-title="Team Member with Kid"><img src="/images/gallery/IMG-20201022-WA0040.webp" alt=""></a>
        <a href="/images/gallery/IMG-20201022-WA0048.webp" data-lightbox="mygallery" data-title="Team Members having fun"><img src="/images/gallery/IMG-20201022-WA0048.webp" alt=""></a>
        <a href="/images/gallery/IMG-20201022-WA0102.webp" data-lightbox="mygallery" data-title="Team Members"><img src="/images/gallery/IMG-20201022-WA0102.webp" alt=""></a>
        <a href="/images/gallery/IMG-20201022-WA0063.webp" data-lightbox="mygallery" data-title="Team Member with kid on his shoulders"><img src="/images/gallery/IMG-20201022-WA0063.webp" alt=""></a>
        <a href="/images/gallery/IMG-20201022-WA0084.webp" data-lightbox="mygallery" data-title="Team Members"><img src="/images/gallery/IMG-20201022-WA0084.webp" alt=""></a>
   

        </div></center>
    

    <%- include("partials/footer");-%>