<%- include("partials/headerForMembers");-%>
    <!-- id="content-desktop" -->
    <div class="container ejs-page content-effect ">
        <center>
            <h3 class="ejs-page-title">General Secretary</h3>
        </center>
        <center><img src="/images/esther-safoa-opoku-General-secretary.webp" alt="relianceCharity-secretary-image" class="ejs-rounded-pic"></center>

        <h6 class="ejsContent">
            <b>  <%=secretaryContent%></b>
        </h6>

    </div>

    </div>

    <!-- 
<div id="content-mobile" class="container mobile-marginal">
    <center><h3 class="ejs-page-title">General Secretary</h3></center>
    <center><img src="/images/esther-safoa-opoku-General-secretary.webp" alt="relianceCharity-secretary-image" class="ejs-rounded-pic"></center>
<h6 class="mobileEjsContent">

    <%=secretaryContent%>
</h6>
</div> -->


    <%- include("partials/footer");-%>