<%- include("partials/headerForMembers");-%>

<div class="container ejs-page content-effect ">
    <h3 class="ejs-page-title"><center>General Secretary</center></h3>
    <img src="/images/esther-safoa-opoku-General-secretary.jpg" alt="secretary-image" class="ejs-rounded-pic">
    <h6 class="ejsContent">
        <%=secretaryContent%>
        </h6>
        
    </div>

</div>

<%- include("partials/footer");-%>
