<%- include("partials/headerForMembers");-%>

<div class="container ejs-page content-effect ">
    <center><h3 class="ejs-page-title">General Secretary</h3></center>
    <center><img src="/images/esther-safoa-opoku-General-secretary.jpg" alt="secretary-image" class="ejs-rounded-pic"></center>
    
    <h6 class="ejsContent">
        <%=secretaryContent%>
        </h6>
        
    </div>

</div>

<%- include("partials/footer");-%>
