<%- include("partials/headerForMembers");-%>

<div id="content-desktop" class="container ejs-page content-effect ">
    <center><h3 class="ejs-page-title">Media Personnel</h3></center>
    <center><img src="/images/degraft-amihere-Head-of-Media-and-Publicity.webp" alt="relianceCharity-head-Of-Media-And-Publicity-image" class="media-width-added ejs-rounded-pic"></center>
    
    <h6 class="ejsContent">
        <%=headOfMediaAndPublicityContent%>
        </h6>
        
    </div>

</div>
    


<div id="content-mobile" class="container mobile-marginal">
    <center><h3 class="ejs-page-title">Media Personnel</h3></center>
    <center><img src="/images/degraft-amihere-Head-of-Media-and-Publicity.webp" alt="relianceCharity-head-Of-Media-And-Publicity-image" class="ejs-rounded-pic"></center>
<h6 class="mobileEjsContent">

    <%=headOfMediaAndPublicityContent%>
</h6>
</div>

<%- include("partials/footer");-%>
<!-- ejs-rounded-pic -->