<%- include("partials/headerForMembers");-%>

<div class="container ejs-page">
    <h3 class="ejs-page-title"><center>Head of Media And Publicity</center></h3>
    <img src="/images/degraft-amihere-Head-of-Media-and-Publicity.jpg" alt="head-Of-Media-And-Publicity-image" class=" width-added">
    <h6 class="ejsContent">
        <%=headOfMediaAndPublicityContent%>
        </h6>
        
    </div>

</div>
    
<%- include("partials/footer");-%>
<!-- ejs-rounded-pic -->