<%- include("partials/headerForMembers");-%>

<div class="container ejs-page content-effect ">
    <center><h3 class="ejs-page-title">Head of Media And Publicity</h3></center>
    <center><img src="/images/degraft-amihere-Head-of-Media-and-Publicity.jpg" alt="head-Of-Media-And-Publicity-image" class="media-width-added ejs-rounded-pic"></center>
    
    <h6 class="ejsContent">
        <%=headOfMediaAndPublicityContent%>
        </h6>
        
    </div>

</div>
    
<%- include("partials/footer");-%>
<!-- ejs-rounded-pic -->