<%- include("partials/headerForMembers");-%>


<div class="container ejs-page content-effect logistics_padding_bottom">
    <h3 class="ejs-page-title"><center>Head of Logistics</center></h3>
    <img src="/images/arthur-williams-head-of-logistics.jpg" alt="head-Of-logistics-image" class="ejs-rounded-pic">
    <h6 class="ejsContent">
        <%=headOfLogisticsContent%>
        </h6>
        
    </div>

</div>
    
<%- include("partials/footer");-%>
