<%- include("partials/headerForMembers");-%>



<div class="container ejs-page">
    <h3 class="ejs-page-title"><center>Organizer</center></h3>
    <img src="/images/johnson-emmanuel-egyire-organizer.jpg" alt="organizer-image" class="organizer-added-effects">
    <h6 class="ejsContent">
        <%=organizerContent%>
        </h6>
        
    </div>

</div>

    
<%- include("partials/footer");-%>
<!-- ejs-rounded-pic -->