<%- include("partials/headerForMembers");-%>



<div class="container ejs-page content-effect organizer_padding_bottom">
    
    <center><h3 class="ejs-page-title">Organizer</h3></center>
    <center><img src="/images/johnson-emmanuel-egyire-organizer.jpg" alt="organizer-image" class=" ejs-rounded-pic"></center>
   
    <h6 class="ejsContent">
        <%=organizerContent%>
        </h6>
        
    </div>

</div>

    
<%- include("partials/footer");-%>
<!-- ejs-rounded-pic -->