<%- include("partials/headerForMembers");-%>



<!-- <hr> -->

<!-- <h3 class="founder-page-title"><center>Founder</center></h3> -->
             <div class="container ejs-page content-effect">
                 <center><h3 class="ejs-page-title">Board Member</h3></center>
                 <center><img src="/images/owusuahAgyepong.jpg" alt="owusuah-agyepong-image" class="ejs-rounded-pic"></center>
         <h6 class="ejsContent">

     <%=owusuahAgyepongContent%>
         </h6>
     </div>
    
<%- include("partials/footer");-%>
