<%- include("partials/headerForMembers");-%>



<!-- <hr> -->

<!-- <h3 class="founder-page-title"><center>Founder</center></h3> -->
             <div id="content-desktop" class="container ejs-page content-effect">
                 <center><h3 class="ejs-page-title">Board Member</h3></center>
                 <center><img src="/images/owusuahcropped.webp" alt="relianceCharity-owusuah-agyepong-image" class="ejs-rounded-pic"></center>
         <h6 class="ejsContent">

     <%=owusuahAgyepongContent%>
         </h6>
     </div>


     <div id="content-mobile" class="container mobile-marginal">
        <center><h3 class="ejs-page-title">Board Member</h3></center>
        <center><img src="/images/owusuahcropped.webp" alt="relianceCharity-owusuah-agyepong-image" class="ejs-rounded-pic"></center>
<h6 class="mobileEjsContent">

    <%=owusuahAgyepongContent%>
</h6>
</div>
    

    
<%- include("partials/footer");-%>
