<%- include("partials/headerForMembers");-%>



<div id="content-desktop" class="container ejs-page content-effect organizer_padding_bottom">
    
    <center><h3 class="ejs-page-title">Patron</h3></center>
    <center><img src="/images/patron.webp" alt="relianceCharity-patron-image" class=" ejs-rounded-pic"></center>
   
    <h6 class="ejsContent">
        <%=patronContent%>
        </h6>
        
    </div>

</div>


<div id="content-mobile" class="container mobile-marginal">
    <center><h3 class="ejs-page-title">Patron</h3></center>
    <center><img src="/images/patron.webp" alt="relianceCharity-patron-image" class="ejs-rounded-pic"></center>
<h6 class="mobileEjsContent">

    <%=patronContent%>
</h6>
</div>

    
<%- include("partials/footer");-%>
<!-- ejs-rounded-pic -->