<%- include("partials/headerForMembers");-%>

<div class="container ejs-page content-effect pro_padding_bottom">
    <center><h3 class="ejs-page-title">P.R.O</h3></center>
    <center><img src="/images/mensah-stephen-PRO.jpg" alt="relianceCharity-pro-image" class="ejs-rounded-pic"></center>
    
    <h6 class="ejsContent">
        <%=proContent%>
        </h6>
        
    </div>

</div>
    
<%- include("partials/footer");-%>

    
   