<%- include("partials/headerForMembers");-%>



<!-- <hr> -->

<!-- <h3 class="founder-page-title"><center>Founder</center></h3> -->
             <div id="content-desktop"  class="container ejs-page content-effect">
                 <center><h3 class="ejs-page-title">Member</h3></center>
                 <center><img src="/images/promiseKatey.jpg" alt="relianceCharity-promiseKatey-image" class="ejs-rounded-pic"></center>
         <h6 class="ejsContent">

     <%=promiseKateyContent%>
         </h6>
     </div>


     <div id="content-mobile" class="container mobile-marginal">
        <center><h3 class="ejs-page-title">Member</h3></center>
        <center><img src="/images/promiseKatey.jpg" alt="relianceCharity-promiseKatey-image" class="ejs-rounded-pic"></center>
<h6 class="mobileEjsContent">

    <%=promiseKateyContent%>
</h6>
</div>
    
<%- include("partials/footer");-%>
