<%- include("partials/headerForMembers");-%>



<div class="container ejs-page content-effect treasurer_padding_bottom">
    <center> <h3 class="ejs-page-title">Member</h3></center>
    <center><img src="/images/samuel.jpg" alt="samuel-image" class="ejs-rounded-pic"></center>
   
    <h6 class="ejsContent">
        <%=samuelContent%>
        </h6>
        
    </div>

</div>

    
<%- include("partials/footer");-%>
