

<%- include("partials/headerForMembers");-%>


<div id="content-desktop" class="thanksMessage">
  <br><br><br><br><br> <br><br><br><br><br>
   
        <h3 style="font-size: 35px; color:#CC3829"><center>Thanks for contacting us. We will get back to you as soon as we can !!!</center></h3>

    </div>

</div>
    

<div id="content-mobile" class="thanksMessage">
    <br><br><br><br><br><br><br><br><br><br>
    <h3 style="font-size: 25px; color:#CC3829"><center>Thanks for contacting us. We will get back to you as soon as we can !!!</center></h3>
</div>


<%- include("partials/footer");-%>
