<%- include("partials/headerForMembers");-%>



<div class="container ejs-page content-effect treasurer_padding_bottom">
    <center> <h3 class="ejs-page-title">Treasurer</h3></center>
    <center><img src="/images/janet-quarshie-treasurer.jpg" alt="relianceCharity-treasurer-image" class="ejs-rounded-pic"></center>
   
    <h6 class="ejsContent">
        <%=treasurerContent%>
        </h6>
        
    </div>

</div>

    
<%- include("partials/footer");-%>
