<%- include("partials/headerForMembers");-%>

    <!-- id="content-desktop" -->

    <div class="container ejs-page content-effect treasurer_padding_bottom">
        <center>
            <h3 class="ejs-page-title">Treasurer</h3>
        </center>
        <center><img src="/images/janetcropped.webp" alt="relianceCharity-treasurer-image" class="ejs-rounded-pic"></center>

        <h6 class="ejsContent">
            <b>   <%=treasurerContent%></b>
        </h6>

    </div>

    </div>
    <!-- 
<div id="content-mobile" class="container mobile-marginal">
    <center><h3 class="ejs-page-title">Treasurer</h3></center>
    <center><img src="/images/janetcropped.webp" alt="relianceCharity-treasurer-image" class="ejs-rounded-pic"></center>
<h6 class="mobileEjsContent">

    <%=treasurerContent%>
</h6>
</div> -->


    <%- include("partials/footer");-%>