<%- include("partials/headerForMembers");-%>



<div class="container ejs-page">
    <h3 class="ejs-page-title"><center>Treasurer</center></h3>
    <img src="/images/janet-quarshie-treasurer.jpg" alt="treasurer-image" class="ejs-rounded-pic">
    <h6 class="ejsContent">
        <%=treasurerContent%>
        </h6>
        
    </div>

</div>

    
<%- include("partials/footer");-%>
