
      <!-- col-lg-3 col-md-6 -->
      <div class="container bankAccount-border " style="width: 50%; float:left; height:90%">
        <h2>
          <center>Bank Account</center>
        </h2><br>
        <center><img src="/images/adb-logo.webp" alt="adb-bank-logo" style="width: 30%;  height:30%"></center>
    
        <!-- boxedPadding boxedStyle -->
        <div class="">
    
            <h3>
               <center> Account Name</center>
            </h3>
            <h6><center>Reliance Charity Foundation</center></h6>
            
    
            
            <h3>
               <center>Account No.</center>
            </h3>
            <h6><center>1142000147687301</center></h6>
    
            
            <h3>
             <center> Branches</center>
            </h3>
            <h6><center>Lapaz</center></h6>
        </div>
    
    
    </div>
    <!-- col-lg-3 col-md-6 -->
    <div class="container form-margin " style="width: 50%; float:right; height:30%"> 
        <form class="form-border " >
           
            
                <h5>
                     Send Us A Message About How You Wish 
                    To Support This Organization and We Shall Contact You Shortly. We would be 
                    Glad to Hear From You.
                </h5>
    
                <div class="form-group">
                    <label for="exampleInputEmail1">First Name</label>
                    <input class="form-control" >
                   
                  </div>
    
                  <div class="form-group">
                    <label for="exampleInputEmail1">Second Name</label>
                    <input class="form-control">
                    
                  </div>
              
                    
            <div class="form-group">
              <label for="exampleInputEmail1">Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
              <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="form-group form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div>
    
            <div class="form-group">
                <label for="exampleFormControlTextarea1">
                </label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3">
            Briefly tell us how you wish to support our cause
                </textarea>
              </div>
            <button type="submit" class="btn btn-primary">SEND MESSAGE</button>
          </form>
      
    </div>