<%- include("partials/headerForMembers");-%>


<div class="container ejs-page content-effect welfare_padding_bottom">
    <h3 class="ejs-page-title"><center>Welfare Officer</center></h3>
    <img src="/images/nimarko-bernice-afrima-welfare-officer.jpg" alt="welfare-Officer-image" class="ejs-rounded-pic">
    <h6 class="ejsContent">
        <%=welfareOfficerContent%>
        </h6>
        
    </div>

</div>

    
<%- include("partials/footer");-%>
