.main {
    opacity: 0;
    display: none;
    transition: opacity 1s ease-in;
}


/* USING CSS MAGIC TO SWITCH TO THE DESKTOP VIEW */

#content-desktop {
    display: block;
}

#content-mobile {
    display: none;
}


/* VIEWPORT SETTINGS */

@viewport {
    zoom: 1.0;
    width: extend-to-zoom;
}

@-ms-viewport {
    width: extend-to-zoom;
    zoom: 1;
}


/* VIEWPORT SETTINGS ENDS HERE */


/* SETTING THE BODY TO BE FIXED */


/* body{
    position: absolute;
    width: 100vw;
}
 */

html,
body {
    overflow-x: hidden;
}

body {
    position: relative;
}


/* SETTING THE BODY ENDS HERE */


/* NAVBAR SECTION STARTS HERE*/


/* .navbar-margin {
    margin-left: 0%;
} */

.navbar-light {
    transition: 0.75s ease;
}

.navbar-light .navbar-brand {
    color: #fff;
    text-shadow: 2.5px 2.5px 2.5px black;
    /* font-size: 28px; */
    font-size: 1.580em;
    font-weight: bold;
    letter-spacing: 2px;
}

.navbar-light.scrolled {
    background-color: #f0eeee !important;
    /* background-color: #dfd6d6 !important; */
    /* background-color: #c9c9c9 !important; */
}

.nav.navbar-nav.navbar-right {
    margin: 20px 0;
}


/* .banner {
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;

} */

.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    /* color: white; */
}

.navbar-light .navbar-brand:hover {
    color: #e74c3c;
}

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link {
    color: black;
}

.navbar-light .navbar-nav .nav-link {
    color: black;
    /* color: white; */
    /* text-shadow: 2.0px 2.0px 2.0px black; */
}

.navbar-nav {
    text-align: center;
}

.nav-link {
    font-family: 'Ubuntu', sans-serif;
    /* font-size: 20px; */
    font-size: 1.250em;
    font-weight: 800;
}

.nav-item {
    margin: 10px 15px 5px;
    /* margin:0.05%; */
}

.navbar-light .navbar-brand .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: #e74c3c !important;
}

.w-100 {
    height: 100vh;
    background-size: cover;
    object-fit: cover;
    /* height: auto; */
}

.logo-style {
    border: 2px white;
    height: 0%;
    /* box-shadow: 3px 3px 25px #e74c3c; */
    box-shadow: 3px 3px 25px #faf2f1;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    display: inline-block;
    margin-right: 10px;
}


/* GET INVOLVED DROPDOWN SECTION STARTS HERE */

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-menu {
    /* background: transparent; */
    /* background-color: #c9c9c9 !important; */
    display: none;
    background-color: #f0eeee !important;
    border-color: #f0eeee;
}


/* .dropdown-menu a:hover {
    background-color: #ddd;
} */

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-margin {
    margin-bottom: 2px;
    margin-top: -10px;
    margin-left: 5px;
    /* margin-right: -5px; */
    /* text-align: center; */
}

.drp:nth-child(1) {
    /* animation: animate 300ms ease-in-out forwards; */
    animation-name: animate;
    animation-delay: -150ms;
    animation-duration: 600ms;
    animation-fill-mode: forwards;
}

.drp:nth-child(2) {
    /* animation: animate 300ms ease-in-out forwards; */
    animation-name: animate;
    animation-delay: 0ms;
    animation-duration: 600ms;
    animation-fill-mode: forwards;
}

.drp:nth-child(3) {
    /* animation: animate 300ms ease-in-out forwards; */
    animation-name: animate;
    animation-delay: 150ms;
    animation-duration: 600ms;
    animation-fill-mode: forwards;
}

.drp:nth-child(4) {
    /* animation: animate 300ms ease-in-out forwards; */
    animation-name: animate;
    animation-delay: 300ms;
    animation-duration: 600ms;
    animation-fill-mode: forwards;
}

.drp:nth-child(5) {
    /* animation: animate 300ms ease-in-out forwards; */
    animation-name: animate;
    animation-delay: 450ms;
    animation-duration: 600ms;
    animation-fill-mode: forwards;
}

@keyframes animate {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }
    70% {
        transform: translateX(20px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
    /* 0% {
        opacity: 0;
        transform: rotateX(-90deg);
    }
    50% {
        transform: rotateX(20deg);
    }
    100% {
        opacity: 1;
        transform: rotateX(0deg);
    } */
}


/* GET INVOLVED DROPDOWN SECTION ENDS HERE */


/* NAVBAR SECTION ENDS HERE */


/* CAROUSEL SECTION STARTS HERE */

.carousel-item {
    height: 100vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    background-size: cover;
}

.carousel-caption {
    top: 38%;
    /* bottom:40%; */
}


/* .added-caption-bottom{
    bottom:41%;
} */

.carousel-caption h5 {
    /* font-size: 45px; */
    font-size: 2.290em;
    /* font-weight:bold; */
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 25px;
    font-family: 'Poppins', sans-serif;
}

.carousel-caption p {
    width: 75%;
    margin: auto;
    /* font-size: 20px; */
    font-size: 1.250em;
    line-height: 1.9;
    /* font-family: 'Poppins',sans-serif; */
    font-family: 'Bree', sans-serif;
    font-weight: 500;
}


/*  PICTURE BLURRING  IN CAROUSEL STARTS HERE*/

.mobile-effect {
    filter: blur(2.0px);
    -webkit-filter: blur(2.0px);
}

.first-slide-blur-effect {
    filter: blur(2.2px);
    -webkit-filter: blur(2.2px);
}

.last-slide-blur-effect {
    /* Add the blur effect */
    filter: blur(2.2px);
    -webkit-filter: blur(2.2px);
}


/* PICTURE BLURRING IN CAROUSEL ENDS HERE */


/* CAROUSEL SECTION ENDS HERE */


/* WELCOME MESSAGE STARTS HERE */

.skill-row {
    width: 90%;
    border-radius: 50%;
    margin-top: 20px;
    margin-bottom: 50px;
    margin-left: 5%;
    margin-right: 6%;
    text-align: left;
    /* font-size: 18px; */
}

.skill-row p {
    margin-top: 30px;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

.message-img {
    border-radius: 50%;
    float: left;
    margin-left: 2px;
    margin-right: 20px;
    margin-bottom: 2px;
    /* width: 17%; */
    max-width: 250px;
    /* height: 110%; */
    /* box-shadow: 3px 3px 25px #e74c3c; */
    /* height="200px"  */
    /* width="210px" */
    /* height:50%; */
}

.message-img-glow {
    border: 2px white;
    /* height: 0%; */
    box-shadow: 3px 3px 15px #e74c3c;
    /* box-shadow: 3px 3px 25px #faf2f1; */
    border-radius: 50%;
    /* height:50px ; */
    /* width: 50px; */
}


/* WELCOME MESSAGE ENDS HERE */


/* ABOUT US SECTION STARTS HERE */

hr {
    border: dotted #E45C4D 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}


/**
 * Circle Styles
 */

.circle {
    position: relative;
    display: block;
    margin: 2em 0;
    background-color: transparent;
    color: #222;
    text-align: center;
    /* max-width: 500px; */
    min-width: 300px;
}

#aboutUs .circle:hover {
    background-color: #e74c3c;
    border: none;
    box-shadow: 5px 5px 20px #9E9E9E;
}

.circle:after {
    display: block;
    padding-bottom: 100%;
    width: 100%;
    height: 0;
    border-radius: 50%;
    background-color: white;
    content: "";
}

.circle__inner {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.circle__wrapper {
    display: table;
    width: 100%;
    height: 100%;
}

.circle__content {
    display: table-cell;
    padding: 1em;
    vertical-align: middle;
}

.about-us {
    background-color: white;
}

.listElements {
    font-weight: 300;
    /* font-size: 20px; */
    font-size: 1.250em;
}


/* ABOUT-US FOR DESKTOP OR LARGE SCREENS */

#aboutUs-desktop .circle {
    background-color: white;
    border-radius: 50%;
    box-shadow: 5px 5px 15px #e74c3c;
    transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
}

#aboutUs-desktop h1 {
    font-family: 'Poppins', sans-serif;
    letter-spacing: -1px;
}

#aboutUs-desktop h3 {
    font-family: 'Ubuntu', sans-serif;
}

#aboutUs-desktop h6 {
    font-family: 'Oxygen', sans-serif;
}

#aboutUs-desktop .heading {
    font-size: 2.1rem;
    letter-spacing: 3px;
    margin-right: -3px;
    margin-bottom: 3rem;
    text-align: center;
    color: #333;
    position: relative;
}

#aboutUs-desktop .heading::after {
    content: "";
    width: 8rem;
    height: .4rem;
    background-color: #e74c3c;
    position: absolute;
    bottom: -1rem;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 2rem;
}

#aboutUs-mobile h1 {
    font-family: 'Poppins', sans-serif;
    letter-spacing: -1px;
}

#aboutUs-mobile h3 {
    font-family: 'Poppins', sans-serif;
}

#aboutUs-mobile p {
    font-family: sans-serif;
    font-style: normal;
    /* font-family: "Segoe UI"; */
}

#aboutUs-mobile .heading {
    font-size: 2.1rem;
    letter-spacing: 3px;
    margin-right: -3px;
    margin-bottom: 3rem;
    text-align: center;
    color: #333;
    position: relative;
}

#aboutUs-mobile .heading::after {
    content: "";
    width: 8rem;
    height: .4rem;
    background-color: #e74c3c;
    position: absolute;
    bottom: -1rem;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 2rem;
}


/* ABOUT US SECTION ENDS HERE */


/* TEAM SECTION STARTS HERE */

#team h1 {
    font-family: 'Poppins', sans-serif;
    letter-spacing: -1px;
}

#team h3 {
    /* font-size: 24px; */
    font-size: 1.500em;
    font-family: 'Ubuntu', sans-serif;
}

#team h5 {
    /* font-size: 24px; */
    font-size: 1.500em;
    font-family: 'Ubuntu', sans-serif;
}

#team p {
    font-weight: 300;
    /* font-size: 20px; */
    font-size: 1.250em;
    text-align: left;
    font-family: "Segoe UI";
    /*,Roboto,"Helvetica Neue",Arial,"Noto Sans", */
}

#team .heading {
    font-size: 2.1rem;
    letter-spacing: 3px;
    margin-right: -3px;
    margin-bottom: 3rem;
    text-align: center;
    color: #333;
    position: relative;
}

#team .heading::after {
    content: "";
    width: 10rem;
    height: .4rem;
    background-color: #e74c3c;
    position: absolute;
    bottom: -1rem;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 2rem;
}

#team img {
    margin-top: -75px;
}

#team i {
    /* font-size: 30px; */
    font-size: 1.290em;
}

#team .card {
    display: flex;
    flex-direction: column;
    border-radius: 0;
    box-shadow: 5px 5px 15px #e74c3c;
    margin: 2.2rem 0 4.7rem 0;
    transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
}

#team .card:hover {
    background: #e74c3c;
    color: #fff;
    border-radius: 5px;
    border: none;
    box-shadow: 5px 5px 10px #9E9E9E;
}

#team .card:hover h3,
#team .card:hover i {
    color: #fff;
}

#team a {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    /* margin: 10px 20px; */
    text-decoration: line;
}

#team a:hover {
    color: #fff;
}

#team .card {
    /* margin: 2rem; */
    transition: transform .5s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.card:nth-child(1) {
    animation: fadeIn .5s .5s backwards;
}

.card:nth-child(2) {
    animation: fadeIn .5s 1s backwards;
}

.card:nth-child(3) {
    animation: fadeIn .5s 1.5s backwards;
}

.card:nth-child(4) {
    animation: fadeIn .5s 2s backwards;
}

.card:nth-child(5) {
    animation: fadeIn .5s 2.5s backwards;
}

.card:nth-child(6) {
    animation: fadeIn .5s 3s backwards;
}

.card:nth-child(7) {
    animation: fadeIn .5s 3.5s backwards;
}

.card:nth-child(8) {
    animation: fadeIn .5s 4s backwards;
}

.card:nth-child(9) {
    animation: fadeIn .5s 4.5s backwards;
}

.card:hover {
    transform: scale(1.05);
}


/* EDITING ON THE IMAGES ON THE PROFILE OF THE TEAM MEMBERS STARTS HERE*/

.richard-rounded-circle {
    border-radius: 51%;
    height: 150px;
    max-height: 150px;
    min-height: 150px;
}

.organizer-rounded-circle {
    border-radius: 51%;
    height: 150px;
    max-height: 150px;
    min-height: 150px;
}

.esther-rounded-circle {
    border-radius: 52%;
    height: 150px;
    max-height: 150px;
    min-height: 150px;
}

.degraft-rounded-circle {
    border-radius: 52%;
    height: 150px;
    /* width: 200px; */
    max-height: 150px;
    min-height: 150px;
}

.janet-rounded-circle {
    /* border-radius: 52%; */
    /* height: 160px; */
    max-height: 150px;
    min-height: 150px;
}

.bernice-rounded-circle {
    border-radius: 51%;
    height: 150px;
    max-height: 150px;
    min-height: 150px;
}


/*EDITING ON THE IMAGES ON THE PROFILE OF THE TEAM MEMBERS  ENDS HERE */


/* TEAM SECTION ENDS HERE */


/* OUR PROJECTS STARTS HERE */

.project-card-margin {
    padding-bottom: 300px;
}

#our-projects h1 {
    font-family: 'Poppins', sans-serif;
    letter-spacing: -1px;
}

#our-projects h3 {
    /* font-size: 24px; */
    font-size: 1.500em;
    font-family: 'Ubuntu', sans-serif;
}

#our-projects h5 {
    /* font-size: 24px; */
    font-size: 1.500em;
    font-family: 'Ubuntu', sans-serif;
}

#our-projects p {
    font-weight: 300;
    /* font-size: 20px; */
    font-size: 1.250em;
    text-align: left;
    font-family: "Segoe UI";
    /*,Roboto,"Helvetica Neue",Arial,"Noto Sans", */
}

#our-projects .heading {
    font-size: 2.1rem;
    letter-spacing: 3px;
    margin-right: -3px;
    margin-bottom: 1rem;
    text-align: center;
    color: #333;
    position: relative;
}

#our-projects .heading::after {
    content: "";
    width: 10rem;
    height: .4rem;
    background-color: #e74c3c;
    position: absolute;
    bottom: -1rem;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 2rem;
}

#our-projects img {
    margin-top: 5px;
}

#our-projects i {
    /* font-size: 30px; */
    font-size: 1.290em;
}

#our-projects .card {
    /* display: flex; */
    display: grid;
    /* grid-template-columns: 300px; */
    grid-template-rows: 210px 210px 80px;
    grid-template-areas: "image" "text" "stats";
    border-radius: 18px;
    margin: 2.2rem 0 2.0rem 0;
    /* flex-direction: column; */
    /* border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
    border-top-right-radius: 18px;
    border-top-left-radius: 18px; */
    /* box-shadow: 5px 5px 15px #e74c3c; */
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
    /* margin: 2.2rem 0 4.7rem 0; */
    /* transition: all 0.3s ease-in; */
    transition: 0.5s ease;
    text-align: center;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
}

#our-projects .card-text {
    margin-top: 10px;
    margin-bottom: 10px;
}

#our-projects .card:hover {
    background: #e74c3c;
    color: #fff;
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
    border-top-right-radius: 18px;
    border-top-left-radius: 18px;
    transform: scale(1.1);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
    /* box-shadow: 5px 5px 10px #9E9E9E;  #f0eeee ; */
}

#our-projects .card:hover h3,
#our-projects .card:hover i {
    color: #fff;
}

#our-projects .card-image-top {
    margin-top: -50px;
    /* background-size:cover;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px; */
}

#our-projects .card-body {
    margin-top: 15px;
}

#our-projects .card-stats {
    /* grid-area: stats; */
    /* display: grid; */
    display: flex;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    margin-left: 10px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    /* background:rgb(255,7,110); */
}

#our-projects .card-stats .stat {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    /* color:white; */
    color: black;
    margin-top: 10px;
    margin-left: 15px;
    border-radius: 3px;
    /* background:#9E9E9E;  */
    background: white;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
}

#our-projects .card-stats .type {
    font-size: 11px;
    font-weight: 500;
    text-transform: uppercase;
}

#our-projects .card-stats .value {
    font-size: 22px;
    font-weight: 500;
}


/* #our-projects .card-stats .border{
    border-left: 1px solid rgb(172,26,87);
    border-right: 1px solid rgb(172,26,87);
} */

#our-projects .value sup {
    font-size: 12px;
}

#our-projects .card-text .date {
    /* color:rgb(255,7,110); */
    text-align: center;
    font-size: 18px;
}

#our-projects a {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    /* margin: 10px 20px; */
    text-decoration: line;
}

#our-projects a:hover {
    color: #fff;
}


/* .card {
    margin: 2rem;
    transition: transform .5s;
} */


/* #our-projects .card:hover{
    transform:scale(1.0);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
} */


/* OUR PROJECTS ENDS HERE */


/* QUOTE SECTION STARTS HERE */

.quote-ejs-page {
    font-size: 1.550em;
    font-style: italic;
    font-family: "Segoe UI";
}

.quote {
    color: black;
    font-style: normal;
    text-align: center;
    /* font-family: 'Merriweather', serif; */
    font-family: "Segoe UI", serif;
}


/* .specified-font {
    font-family: 'Poppins', sans-serif;
} */


/* QUOTE SECTION ENDS HERE */


/* FOOTER SECTION STARTS HERE */


/* FOOTER SECTION */

#contactUs a {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}

.bottom-container a {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: line;
}

#contactUs a:hover {
    color: #EAF6F6;
}

#contactUs a:hover.links {
    color: burlywood;
}

#contactUs h3 {
    /* text-align: center; */
    font-family: 'Ubuntu', sans-serif;
}

#contactUs h6 {
    /* text-align: center; */
    font-family: 'Ubuntu', sans-serif;
}

.copyright {
    color: #EAF6F6;
    text-align: center;
    font-size: 1.5rem;
    margin: 15px 2px 15px 2px;
}

.copyrightText {
    color: #EAF6F6;
    text-align: center;
    font-size: 1rem;
    margin: 15px 2px 15px 2px;
}

.bottom-container {
    background-color: #E45C4D;
    padding: 50px 0 20px;
}

.btn {
    background: #DC3522;
    background-image: -webkit-linear-gradient(top, #DC3522, #E45C4D);
    background-image: -moz-linear-gradient(top, #DC3522, #E45C4D);
    background-image: -ms-linear-gradient(top, #DC3522, #E45C4D);
    background-image: -o-linear-gradient(top, #DC3522, #E45C4D);
    background-image: linear-gradient(to bottom, #DC3522, #E45C4D);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 8px;
    font-family: Monospace;
    color: #0f0d0d;
    /* font-size: 25px; */
    font-size: 1.290em;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    box-shadow: 1px 1px 20px 0px #363232;
}

.btn:hover {
    background: #E74C3C;
    background-image: -webkit-linear-gradient(top, #E74C3C, #CC3829);
    background-image: -moz-linear-gradient(top, #E74C3C, #CC3829);
    background-image: -ms-linear-gradient(top, #E74C3C, #CC3829);
    background-image: -o-linear-gradient(top, #E74C3C, #CC3829);
    background-image: linear-gradient(to bottom, #E74C3C, #CC3829);
}

.myLink {
    color: white;
    text-align: left;
    font-family: ubuntu;
    margin-left: 5px;
}

#contactUs .btn {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}

#contactUs .myLink {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 10px;
    text-decoration: none;
}


/* FOOTER SECTION ENDS HERE */


/* DONATE TO US PAGE STARTS HERE */

.donateUs-heading {
    margin-top: 20px;
    font-family: 'Poppins', sans-serif;
    letter-spacing: -1px;
}

.donateUs-heading {
    font-size: 2.1rem;
    letter-spacing: .5px;
    margin-right: -3px;
    margin-bottom: 3rem;
    text-align: center;
    color: #333;
    position: relative;
}

.donateUs-heading::after {
    content: "";
    width: 10rem;
    height: .4rem;
    background-color: #e74c3c;
    position: absolute;
    bottom: -1rem;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 2rem;
}

#donate {
    margin-left: 4%;
    margin-right: 4%;
}

#donate h2 {
    text-shadow: 1.0px 1.0px 1.0px black;
    color: #E45C4D;
    font-size: 2.500em;
    font-style: bold;
    font-weight: 900;
}

#donate h3 {
    text-shadow: 1.0px 1.0px 1.0px black;
    color: #E45C4D;
    font-size: 2.50em;
    font-style: bold;
    font-weight: 900;
}

.plea {
    font-size: 25px;
    font-family: "Segoe UI";
    font-style: normal;
    margin-right: 4%;
    margin-left: 4%;
}

.help-message {
    font-family: 'Bree Serif', serif;
    color: #DC3522;
}

.boxedPadding {
    padding: 10px 12px 25px 15px;
}

.boxedStyle {
    border-style: dotted;
    border: 2px white;
    box-shadow: 3px 3px 25px #e74c3c;
    /* margin-left: 25%; */
    /* margin-left:20%; */
    width: 90%;
    /* width: 50%; */
}

.bankBoxedStyle {
    /* border-style: dotted; */
    /* border: 2px white; */
    /* height: 0%; */
    /* box-shadow: 3px 3px 25px #e74c3c; */
    /* margin-left: 25%; */
    /* margin-left:20%; */
    width: 90%;
    /* width: 50%; */
    border-top: #DC3522;
    border-bottom: #DC3522;
    border-right: black;
    border-left: black;
    border-style: solid;
    border-width: 2px;
}

#content-desktop .boxedStyle:hover {
    background-color: rgb(206, 205, 205);
    border: none;
    box-shadow: 2px 2px 5px #9E9E9E;
}

#content-desktop .boxedStyle:after {
    background-color: white;
    /* content: ""; */
}

.bankAccount-border {
    border-top: #DC3522;
    border-bottom: #DC3522;
    border-right: white;
    border-style: dashed;
    border-width: 1px;
    margin-bottom: 10%;
    /* margin: 0px 0px 200px 0px; */
    padding-top: 5%;
    padding-bottom: 10%;
}

.desktop-donate-margin {
    margin-top: 1%;
    margin-left: 4%;
    margin-right: 2%;
    margin-bottom: 10%;
}

.donate-margin {
    margin-top: 10%;
    margin-bottom: 100px;
}

.mobile-donate-margin {
    margin-top: 5%;
    margin-left: 4%;
    margin-right: 2%;
    margin-bottom: 3%;
}

.form-border {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 8%;
    padding-bottom: 5%;
    /* padding:10px 40px 80px 40px; */
    /* border-top: #DC3522;
            border-bottom: #DC3522;
            border-left: #DC3522;
            border-right: #DC3522;
            border-width: 1px;
            border-style: dashed; */
    border-top: #DC3522;
    border-bottom: #DC3522;
    border-right: black;
    border-left: black;
    border-style: solid;
    border-width: 1px;
    background-color: #D9DDDC;
    margin-bottom: 10%;
}

.form-margin {
    margin-bottom: 100px;
}

.form-style {
    font-family: "Segoe UI";
}

#content-mobile .mobile-donate-margin {
    margin-left: 2%;
    margin-right: 2%;
}


/* #content-desktop .bankBoxedStyle:hover {
            background-color: rgb(206, 205, 205);
            border: none;
            box-shadow: 2px 2px 5px #9E9E9E;
         
        } */

#content-desktop .bankBoxedStyle:after {
    background-color: white;
    /* content: ""; */
}

#content-desktop .viah3 {
    color: #DC3522;
    font-family: 'ubuntu';
}

#content-desktop .otherDetails {
    font-family: "Segoe UI";
}

#content-mobile .viah3 {
    color: #DC3522;
    font-family: 'ubuntu';
}

#content-mobile .otherDetails {
    font-family: "Segoe UI";
}

.messageAlignment {
    text-align: left;
}

.thanksMessage {
    /* font-size: 25px; */
    font-family: 'Ubuntu', sans-serif;
    /* color: #CC3829; */
}

.contact-me {
    margin-top: 70px;
}


/* DONATE TO US PAGE ENDS HERE */


/*  GALLERY PAGE EFFECTS STARTS HERE*/

.gallery {
    align-items: center;
    margin: 75px;
    /* margin: 10px 50px; */
}

.gallery img {
    width: 230px;
    padding: 8px;
    filter: grayscale(100%);
    transition: 1s;
}

.gallery img:hover {
    filter: grayscale(0);
    transform: scale(1.1);
}

.gallery-title {
    margin-top: 150px;
    font-family: 'Ubuntu', sans-serif;
    letter-spacing: -1px;
}

.gallery-title {
    font-size: 2.1rem;
    /* letter-spacing: .5px; */
    margin-right: -3px;
    margin-bottom: 3rem;
    text-align: center;
    color: #333;
    position: relative;
}

.gallery-title::after {
    content: "";
    width: 5rem;
    height: .4rem;
    background-color: #e74c3c;
    position: absolute;
    bottom: -1rem;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 2rem;
}


/* GALLERY PAGE EFFECTS ENDS HERE */


/* --------------------------- 
        ------------------------------*/


/* MEDIA QUERY */


/* max-width:1132px */


/* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
    991px is used instead of 1024px
  */

@media (min-width: 768px) and (max-width: 991px) {
    .navbar-margin {
        margin-right: 360px;
        /* margin-left: -360px; */
    }
    .dropdown-margin {
        margin-bottom: 2px;
        margin-top: -10px;
        margin-left: 10px;
        /* margin-right: -5px; */
        /* text-align: center; */
    }
    .navbar-nav {
        background-color: #f0eeee !important;
        border-radius: 1%;
    }
}

@media (min-width: 992px) and (max-width: 1024px) {
    .navbar-margin {
        margin-right: 360px;
        /* margin-left: -360px; */
    }
    .navbar-light .navbar-nav .nav-link {
        margin-left: -35px;
    }
    .nav-link {
        font-family: 'Ubuntu', sans-serif;
        /* font-size: 20px; */
        font-size: 1.140em;
        font-weight: 800;
    }
    .dropdown-menu {
        font-size: 18px;
        margin-left: -50px;
        /* background-color: #f0eeee !important; */
        background: transparent !important;
        text-align: center;
        border: #fff;
        letter-spacing: .1px;
    }
    .message-img {
        border-radius: 50%;
        float: left;
        margin-left: 2px;
        margin-right: 20px;
        margin-bottom: 2px;
        /* width: 17%; */
        max-width: 200px;
        /* height: 110%; */
        /* box-shadow: 3px 3px 25px #e74c3c; */
        /* height="200px"  */
        /* width="210px" */
        /* height:50%; */
    }
}


/*##Device=Low Resolution Tablets,
Mobiles (Landscape) ##Screen=B/w 481px to 767px */

@media (min-width: 481px) and (max-width: 529px) {
    .navbar-light .navbar-brand {
        margin-left: -90px;
        font-size: 1.480em;
    }
    .message-img {
        width: 35%;
    }
    #welcome p {
        margin-left: 4%;
        margin-right: 2%;
    }
    .dropdown-margin {
        margin-bottom: 2px;
        margin-top: -10px;
        margin-left: 10px;
        /* margin-right: -5px; */
        /* text-align: center; */
    }
    .navbar-nav {
        background-color: #f0eeee !important;
        border-radius: 1%;
    }
}

@media (min-width: 530px) and (max-width: 539px) {
    .navbar-light .navbar-brand {
        margin-left: -160px;
        font-size: 1.480em;
    }
    .message-img {
        width: 35%;
    }
    #welcome p {
        margin-left: 4%;
        margin-right: 2%;
    }
    .dropdown-margin {
        margin-bottom: 2px;
        margin-top: -10px;
        margin-left: 10px;
        /* margin-right: -5px; */
        /* text-align: center; */
    }
    .navbar-nav {
        background-color: #f0eeee !important;
        border-radius: 1%;
    }
}

@media (min-width: 540px) and (max-width: 554px) {
    .navbar-light .navbar-brand {
        margin-left: -160px;
        font-size: 1.480em;
    }
    .message-img {
        width: 35%;
    }
    #welcome p {
        margin-left: 4%;
        margin-right: 2%;
    }
    .dropdown-margin {
        margin-bottom: 2px;
        margin-top: -10px;
        margin-left: 10px;
        /* margin-right: -5px; */
        /* text-align: center; */
    }
    .navbar-nav {
        background-color: #f0eeee !important;
        border-radius: 1%;
    }
}

@media (min-width: 555px) and (max-width: 599px) {
    .navbar-light .navbar-brand {
        margin-left: -190px;
        font-size: 1.480em;
    }
    .message-img {
        width: 35%;
    }
    #welcome p {
        margin-left: 4%;
        margin-right: 2%;
    }
    .dropdown-margin {
        margin-bottom: 2px;
        margin-top: -10px;
        margin-left: 10px;
        /* margin-right: -5px; */
        /* text-align: center; */
    }
    .navbar-nav {
        background-color: #f0eeee !important;
        border-radius: 1%;
    }
}

@media (min-width: 600px) and (max-width: 699px) {
    .navbar-light .navbar-brand {
        margin-left: -180px;
        font-size: 1.480em;
    }
    .message-img {
        width: 35%;
    }
    #welcome p {
        margin-left: 4%;
        margin-right: 2%;
    }
    .dropdown-margin {
        margin-bottom: 2px;
        margin-top: -10px;
        margin-left: 10px;
        /* margin-right: -5px; */
        /* text-align: center; */
    }
    .navbar-nav {
        background-color: #f0eeee !important;
        border-radius: 1%;
    }
}

@media (min-width: 700px) and (max-width: 767px) {
    .navbar-light .navbar-brand {
        margin-left: -180px;
        font-size: 1.480em;
    }
    .message-img {
        width: 35%;
    }
    #welcome p {
        margin-left: 4%;
        margin-right: 2%;
    }
    .dropdown-margin {
        margin-bottom: 2px;
        margin-top: -10px;
        margin-left: 10px;
        /* margin-right: -5px; */
        /* text-align: center; */
    }
    .navbar-nav {
        background-color: #f0eeee !important;
        border-radius: 1%;
    }
}


/* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */

@media (min-width: 320px) and (max-width: 336px) {
    .navbar-light .navbar-brand {
        margin-left: -15px;
        font-size: 18px;
    }
    .logo-style {
        height: 40px;
        width: 40px;
        display: inline-block;
        margin-right: 20px;
    }
    .message-img {
        width: 35%;
    }
    #welcome p {
        margin-left: 4%;
        margin-right: 2%;
    }
    #team .card {
        margin-left: -15px;
    }
    .dropdown-margin {
        margin-bottom: 2px;
        margin-top: -10px;
        margin-left: 10px;
        /* margin-right: -5px; */
        /* text-align: center; */
    }
    .navbar-nav {
        background-color: #f0eeee !important;
        border-radius: 1%;
    }
}

@media(min-width:337px) and (max-width:344px) {
    .navbar-light .navbar-brand {
        margin-left: -15px;
        font-size: 18px;
    }
    #team .card {
        margin-left: -15px;
    }
    .message-img {
        width: 35%;
        margin-bottom: 5px;
    }
    #welcome p {
        margin-left: 4%;
        margin-right: 4%;
    }
    .dropdown-margin {
        margin-bottom: 2px;
        margin-top: -10px;
        margin-left: 10px;
        margin-right: -5px;
        /* text-align: center; */
    }
    .navbar-nav {
        background-color: #f0eeee !important;
        border-radius: 1%;
    }
}

@media(min-width:345px) and (max-width:348px) {
    .navbar-light .navbar-brand {
        margin-left: -15px;
        font-size: 18px;
    }
    .message-img {
        width: 35%;
        margin-bottom: 5px;
    }
    #welcome p {
        margin-left: 4%;
        margin-right: 4%;
    }
    #team .card {
        margin-left: -10px;
    }
    .dropdown-margin {
        margin-bottom: 2px;
        margin-top: -10px;
        margin-left: 10px;
        margin-right: -5px;
        /* text-align: center; */
    }
    .navbar-nav {
        background-color: #f0eeee !important;
        border-radius: 1%;
    }
    #our-projects .card {
        /* margin: -11px; */
        margin: 2.2rem 0 4.7rem 0;
    }
}

@media(min-width:350px) and (max-width:358px) {
    .navbar-light .navbar-brand {
        margin-left: -18px;
        font-size: 18px;
    }
    .message-img {
        width: 35%;
        margin-bottom: 5px;
    }
    #welcome p {
        margin-left: 4%;
        margin-right: 4%;
    }
    #team .card {
        margin-left: -8px;
    }
    .dropdown-margin {
        margin-bottom: 2px;
        margin-top: -10px;
        margin-left: 10px;
        margin-right: -5px;
        /* text-align: center; */
    }
    .navbar-nav {
        background-color: #f0eeee !important;
        border-radius: 1%;
    }
    #our-projects .card {
        /* margin: -11px; */
        margin: 2.2rem 0 4.7rem 0;
    }
}

@media(min-width:349px) and (max-width:350px) {
    .navbar-light .navbar-brand {
        margin-left: -30px;
        font-size: 18px;
    }
    #team .card {
        margin-left: -9px;
    }
    .message-img {
        width: 35%;
        margin-bottom: 5px;
    }
    #welcome p {
        margin-left: 4%;
        margin-right: 4%;
    }
    .dropdown-margin {
        margin-bottom: 2px;
        margin-top: -10px;
        margin-left: 10px;
        margin-right: -5px;
        /* text-align: center; */
    }
    .navbar-nav {
        background-color: #f0eeee !important;
        border-radius: 1%;
    }
}

@media(min-width:351px) and (max-width:352px) {
    .navbar-light .navbar-brand {
        margin-left: -18px;
        font-size: 18px;
    }
    .message-img {
        width: 35%;
        margin-bottom: 5px;
    }
    #welcome p {
        margin-left: 4%;
        margin-right: 4%;
    }
    #team .card {
        margin-left: -7px;
    }
    .dropdown-margin {
        margin-bottom: 2px;
        margin-top: -10px;
        margin-left: 10px;
        margin-right: -5px;
        /* text-align: center; */
    }
    .navbar-nav {
        background-color: #f0eeee !important;
        border-radius: 1%;
    }
    #our-projects .card {
        /* margin: -11px; */
        margin: 2.2rem 0 4.7rem 0;
    }
}

@media(min-width:353px) and (max-width:356px) {
    .navbar-light .navbar-brand {
        margin-left: -18px;
        font-size: 18px;
    }
    .message-img {
        width: 35%;
        margin-bottom: 5px;
    }
    #welcome p {
        margin-left: 4%;
        margin-right: 4%;
    }
    #team .card {
        margin-left: -6px;
    }
    .dropdown-margin {
        margin-bottom: 2px;
        margin-top: -10px;
        margin-left: 10px;
        margin-right: -5px;
        /* text-align: center; */
    }
    .navbar-nav {
        background-color: #f0eeee !important;
        border-radius: 1%;
    }
    #our-projects .card {
        /* margin: -11px; */
        margin: 2.2rem 0 4.7rem 0;
    }
}

@media(min-width:357px) and (max-width:360px) {
    .navbar-light .navbar-brand {
        margin-left: -18px;
        font-size: 18px;
    }
    .message-img {
        width: 35%;
        margin-bottom: 5px;
    }
    #welcome p {
        margin-left: 4%;
        margin-right: 4%;
    }
    #team .card {
        margin-left: -5px;
    }
    .dropdown-margin {
        margin-bottom: 2px;
        margin-top: -10px;
        margin-left: 10px;
        margin-right: -5px;
        /* text-align: center; */
    }
    .navbar-nav {
        background-color: #f0eeee !important;
        border-radius: 1%;
    }
    #our-projects .card {
        /* margin: -11px; */
        margin: 2.2rem 0 4.7rem 0;
    }
}

@media(min-width:361px) and (max-width:368px) {
    .navbar-light .navbar-brand {
        margin-left: -15px;
        font-size: 18px;
    }
    .message-img {
        width: 35%;
        margin-bottom: 5px;
    }
    #welcome p {
        margin-left: 4%;
        margin-right: 4%;
    }
    #team .card {
        margin-left: -5px;
    }
    .dropdown-margin {
        margin-bottom: 2px;
        margin-top: -10px;
        margin-left: 10px;
        margin-right: -5px;
        /* text-align: center; */
    }
    .navbar-nav {
        background-color: #f0eeee !important;
        border-radius: 1%;
    }
    #our-projects .card {
        margin: -11px;
        /* margin: 2.2rem 0 4.7rem 0;  */
    }
}


/* setting the our-project cards for specific screens */

@media(min-width:350px) and (max-width:368px) {
    #our-projects .card {
        margin: 2.2rem 0 4.7rem 0;
    }
}

@media(min-width:369px) and (max-width:430px) {
    #our-projects .card {
        margin: 2.2rem 0 4.7rem 0;
    }
}

@media(min-width:369px) and (max-width:430px) {
    .navbar-light .navbar-brand {
        margin-left: -25px;
        font-size: 18px;
    }
    #team .card {
        margin-left: 1px;
    }
    .message-img {
        width: 32%;
        margin-bottom: 2px;
    }
    #welcome p {
        margin-left: 4%;
        margin-right: 2%;
    }
    .dropdown-margin {
        margin-bottom: 2px;
        margin-top: -10px;
        margin-left: 10px;
        margin-right: -5px;
        /* text-align: center; */
    }
    .navbar-nav {
        background-color: #f0eeee !important;
        border-radius: 1%;
    }
    /* #our-projects .card { */
    /* margin: 2.2rem 0 4.7rem 0; */
    /* } */
}

@media(min-width:431px) and (max-width:455px) {
    .navbar-light .navbar-brand {
        margin-left: -45px;
        /* font-size: 18px; */
    }
    .dropdown-margin {
        margin-bottom: 2px;
        margin-top: -10px;
        margin-left: 10px;
        /* margin-right: -5px; */
        /* text-align: center; */
    }
    .message-img {
        width: 32%;
        margin-bottom: 2px;
    }
    #welcome p {
        margin-left: 4%;
        margin-right: 2%;
    }
    .navbar-nav {
        background-color: #f0eeee !important;
        border-radius: 1%;
    }
}

@media(min-width:456px) and (max-width:480px) {
    .navbar-light .navbar-brand {
        margin-left: -75px;
        /* font-size: 18px; */
    }
    #team .card {
        margin-left: 1px;
    }
    .message-img {
        width: 32%;
        margin-bottom: 2px;
    }
    #welcome p {
        margin-left: 4%;
        margin-right: 2%;
    }
    .dropdown-margin {
        margin-bottom: 2px;
        margin-top: -10px;
        margin-left: 10px;
        margin-right: -5px;
        /* text-align: center; */
    }
    .navbar-nav {
        background-color: #f0eeee !important;
        border-radius: 1%;
    }
}


/* .navbar-nav {
    background-color: #f0eeee !important;
    border-radius: 5%;
} */

@media only screen and (max-width:1190px) {
    /* USING CSS MAGIC TO SWITCH ELEMENTS FROM DESKTOP VIEW TO MOBILE VIEW */
    #content-desktop {
        display: none;
    }
    #content-mobile {
        display: block;
    }
    .carousel-caption {
        top: 33%;
        /* bottom:40%; */
    }
    /* .w-100 { */
    /* height: 100vh; */
    /* background-size: cover;
        object-fit: cover; */
    /* } */
    /* CSS MAGIC ENDS HERE */
    /*-----------------------
            --------------------------
            ----------------------  */
    /* NEW MOBILE VIEW OF ABOUT US SECTION */
    .chilli-img {
        border-radius: 50%;
        width: 35%;
        float: right;
        margin-left: 30px;
        max-width: 200px;
        min-width: 180px;
    }
    .project-img {
        border-radius: 50%;
        width: 25%;
        float: right;
        margin-left: 30px;
        /* max-width: 200px; */
        min-width: 180px;
    }
    .mission-img {
        border-radius: 40%;
        width: 50%;
        max-width: 200px;
        /* height: 30%; */
        float: left;
        margin-right: 30px;
    }
    .code-img {
        border-radius: 40%;
        width: 15%;
        max-width: 50px;
        height: 50%;
        float: left;
        margin-right: 30px;
    }
    .aboutUs-row {
        width: 100%;
        border-radius: 50%;
        /* margin: 100px auto 100px auto; */
        /* text-align: left; */
        margin-top: 100px;
        margin-bottom: 0px;
        margin-left: 0%;
        /* margin-right: 55%; */
        text-align: left;
        font-size: 20px;
        /* letter-spacing: 2px; */
        border-radius: 25px;
        min-width: 70px;
        /* width: fit-content; */
        padding: 40px;
        /* width: 200px; */
        /* height: 150px; */
    }
    /* NEW MOBILE VIEW OF ABOUT US SECTION ENDS HERE */
}


/* NEW MOBILE VIEW OF ABOUT US SECTION ENDS HERE */