

/* SETTING THE BODY TO BE FIXED */
/* body{
    position: absolute;
    width: 100vw;
}
 */

 html, body {
    overflow-x: hidden;
  }
  body {
    position: relative;
  }
/* SETTING THE BODY ENDS HERE */

.myLink{
    color: white;
    text-align: left;
    font-family: ubuntu;
    margin-left: 5px;
}

/* VIEWPORT SETTINGS */
@viewport{
    zoom: 1.0;
    width: extend-to-zoom;
}

@-ms-viewport{
    width:extend-to-zoom;
    zoom: 1;
}


/* LAST ROW MARGIN */
.last-row-margin{
    margin-left:0%;
    margin-right:0%;
}

/* NAVBAR SECTION */
.navbar-light .navbar-brand {
    color: #fff;
    text-shadow: 2.5px 2.5px 2.5px black;
    /* font-size: 28px; */
    font-size: 1.580em;

    font-weight: bold;
    letter-spacing: 2px;
}

.nav.navbar-nav.navbar-right {
    margin: 20px 0;
}

/* .banner {
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;

} */

.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    /* color: white; */
}

.navbar-light .navbar-brand:hover {
    color: #e74c3c;
  }




.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link {
    color: black;
    }

.navbar-light .navbar-nav .nav-link {
    color: black;

}

.navbar-nav {
    text-align: center;
}

.nav-link {
    font-family: 'Ubuntu', sans-serif;
    /* font-size: 20px; */
    font-size:	1.250em ;
    font-weight: 800;
   }

.nav-item {
    margin: 5px 2px 5px;
    /* margin:0.05%; */
}

.navbar-light .navbar-brand .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {

    color: #e74c3c !important;
}

.w-100 {
    /* height: 100vh; */
    height: auto;
}


/* IN THE DESKTOP VIEW */

#content-desktop {
    display: block;
}

#content-mobile {
    display: none;

}



/* NAVBAR PICTURE BLURRING */
.mobile-effect {
    filter: blur(2.0px);
    -webkit-filter: blur(2.0px);
}

.first-slide-blur-effect {
    filter: blur(2.2px);
    -webkit-filter: blur(2.2px);
}

.last-slide-blur-effect {
    /* Add the blur effect */
    filter: blur(2.2px);
    -webkit-filter: blur(2.2px);
}

*/

/* mobile view blur effect */
.mobile-blur-effect {
    filter: blur(1.5px);
    -webkit-filter: blur(1.5px);
}

.mobile-img{
    opacity:0.95 ;
}


/* GET INVOLVED DROPDOWN SECTION */
.dropdown-menu{
    background: transparent;
}

.dropdown-margin{
    margin-bottom: 0.2px;
    margin-top:0.2px;
    margin-left: -3px;
    margin-right: -5px;
    /* text-align: center; */
}


 /* GET INVOLVED DROPDOWN SECTION ENDS HERE */

/* NAVBAR SECTION ENDS HERE */


/* DONATE SECTION START HERE */
#donate{
    margin-left: 4%;
    margin-right: 4%;
}
#donate h2{
    text-shadow: 1.0px 1.0px 1.0px black;
    color: #E45C4D;
    font-size: 	2.500em;
    font-style: bold;
    font-weight: 900;
}

#donate h3{
    text-shadow: 1.0px 1.0px 1.0px black;
    color: #E45C4D;
    font-size: 	2.50em;
    font-style: bold;
    font-weight: 900;
}

.boxedPadding {
    padding:10px 10px 40px 15px;
  
}
/* .boxedMargin{
    margin-bottom: 100px;
} */
.boxedStyle {
    border-style: dotted;
    border: 2px white;
    height: 0%;
    box-shadow: 3px 3px 25px #e74c3c;
    /* margin-left: 25%; */
    /* margin-left:20%; */
    width:90%;
    /* width: 50%; */

}

.bankBoxedStyle {
    /* border-style: dotted; */
    /* border: 2px white; */
    /* height: 0%; */
    /* box-shadow: 3px 3px 25px #e74c3c; */
    /* margin-left: 25%; */
    /* margin-left:20%; */
    width:90%;
    /* width: 50%; */

    border-top: #DC3522;
    border-bottom: #DC3522;
    border-right:black;
    border-left:black;
    border-style: solid;
    border-width: 2px;

}


#content-desktop .boxedStyle:hover {
    background-color: rgb(206, 205, 205);
    border: none;
    box-shadow: 2px 2px 5px #9E9E9E;
 
}

#content-desktop .boxedStyle:after {
    background-color: white;
    /* content: ""; */
 
}

.bankAccount-border{
    border-top: #DC3522;
    border-bottom: #DC3522;
    border-right:white;
    border-style: dashed;
    border-width: 1px;
    margin-bottom: 10%;
    /* margin: 0px 0px 200px 0px; */
    padding-top: 5%;
    padding-bottom: 10%;
   
}



/*  DONATE SECTION ENDS HERE*/

/* QUOTE SECTION */

.testing {
    border: dotted white 6px;
}

.quote-ejs-page {
    /* font-size: 25px; */
    font-size: 	1.550em;
    font-style: italic;

}
/* .quote-marginal{
    margin-top: 300px;
} */
.quote {
    color: black;
    font-style: normal;
    text-align: center;
    font-family: 'Merriweather', serif;
}

.specified-font {
    font-family: 'Poppins', sans-serif;
}

/* QUOTE SECTION ENDS HERE */


/* MEMBER PAGE ADDED EFFECTS */
.organizer-added-effects {
    margin-left: 45%;
    margin-bottom: 5%;
    height: 220px;
    width: 220px;
    border-radius: 360%;

}

.width-added {
    margin-left: 45%;
    margin-bottom: 5%;
    height: 200px;
    width: 220px;
    border-radius: 360%;

}

.ejsContent {
    /* font-size: 20px; */
    font-size: 	1.250em;
    text-align: left;
    }

.ejs-rounded-pic {
    margin-left: 45%;
    margin-bottom: 5%;
    height: 200px;
    width: 200px;
    border-radius: 360%;
}

/* SETTINGS FOR FOUNDER PAGE */
h4 {
    font-weight: 100;
}

.ejs-page-title {
    margin: 150px 0px 30px 60px;
    padding: 0%;

}

.ejs-page {
    margin: 100px 100px 100px 100px;
    height: 100px;
    /* font-size: 18px; */
    font-size: 1.125em;

}

hr {
    border: dotted #E45C4D 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}


/* ROW OF WELFARE OFFICER */
.welfareCenter {
    position: relative;
    margin-left: 18%;
    display: block;
    margin-bottom: 5%;
}

.patronCenter {
    position: relative;
    margin-left: 38%;
    display: block;
    margin-bottom: 5%;
}




/**
 * Circle Styles
 */
h6 {
    font-weight: 500;
}

.circle {
    position: relative;
    display: block;
    margin: 2em 0;
    background-color: transparent;
    color: #222;
    text-align: center;
}

#aboutUs .circle:hover {
    background-color: #e74c3c;
    border: none;
    box-shadow: 5px 5px 20px #9E9E9E;
}

.circle:after {
    display: block;
    padding-bottom: 100%;
    width: 100%;
    height: 0;
    border-radius: 50%;
    background-color: white;
    content: "";
}

.circle__inner {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.circle__wrapper {
    display: table;
    width: 100%;
    height: 100%;
}

.circle__content {
    display: table-cell;
    padding: 1em;
    vertical-align: middle;
}



.about-us {
    background-color: white;
   }

.listElements {
    font-weight: 300;
    /* font-size: 20px; */
    font-size: 	1.250em	;
}

#aboutUs .circle {
    background-color: white;
    border-radius: 50%;
    box-shadow: 5px 5px 15px #e74c3c;
    transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
}


/* EDITING ON THE IMAGES ON THE PROFILE OF THE TEAM MEMBERS */
.esther-rounded-circle {
    border-radius: 52%;
    height: 160px;
}

.organizer-rounded-circle {
    border-radius: 51%;
    height: 158px;
}

.richard-rounded-circle {
    border-radius: 51%;
    height: 162px;
}

.degraft-rounded-circle {
    border-radius: 54%;
    height: 150px;
    width: 200px;
}

.janet-rounded-circle {
    border-radius: 52%;
    height: 160px;
}

.bernice-rounded-circle {
    border-radius: 52%;
    height: 160px;
}

/* ENDS HERE */

/* CSS ON CAROUSEL  */
.carousel-item {
    height: 100vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    background-size: cover;
}

.carousel-caption {
    /* bottom: 315px; */
    bottom:39%;
}

.added-caption-bottom{
    bottom:41%;
}

.carousel-caption h5 {

    /* font-size: 45px; */
    font-size: 2.290em;
    /* font-weight:bold; */
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 25px;
    font-family: 'Poppins', sans-serif;



}

.carousel-caption p {
    width: 75%;
    margin: auto;
    /* font-size: 20px; */
    font-size: 1.250em;
    line-height: 1.9;

}

/* TEAM SECTION */
/* effects For our Team  */
* {
    margin: 0;
    padding: 0;
}

*/ .heading {
    font-size: 2.1rem;
    letter-spacing: 3px;
    margin-right: -3px;
    margin-bottom: 20rem;
    text-align: center;
    color: #333;
    position: relative;
}

.heading::after {
    content: "";
    width: 10rem;
    height: .4rem;
    background-color: #e74c3c;
    position: absolute;
    bottom: -1rem;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 2rem;

}

h3 {
    /* font-size: 24px; */
    font-size:1.500em ;
    font-family: 'Ubuntu', sans-serif;
}

#team img {
    margin-top: -75px;

}

#team i {
    /* font-size: 30px; */
    font-size:1.290em ;
}

#team p {
    font-weight: 300;
    /* font-size: 20px; */
    font-size: 1.250em	;
    text-align:left;

}

#team .card {
    display: flex;
    flex-direction: column;
    border-radius: 0;
    box-shadow: 5px 5px 15px #e74c3c;
    margin: 2.2rem 0 1.2rem 0;
    transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
}

#team .card:hover {
    background: #e74c3c;
    color: #fff;
    border-radius: 5px;
    border: none;
    box-shadow: 5px 5px 10px #9E9E9E;
}

#team .card:hover h3,
#team .card:hover i {
    color: #fff;
}

.card {
    margin: 2rem;
    transition: transform .5s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.card:nth-child(1) {
    animation: fadeIn .5s .5s backwards;
}

.card:nth-child(2) {
    animation: fadeIn .5s 1s backwards;
}

.card:nth-child(3) {
    animation: fadeIn .5s 1.5s backwards;
}

.card:nth-child(4) {
    animation: fadeIn .5s 2s backwards;
}

.card:nth-child(5) {
    animation: fadeIn .5s 2.5s backwards;
}

.card:nth-child(6) {
    animation: fadeIn .5s 3s backwards;
}

.card:nth-child(7) {
    animation: fadeIn .5s 3.5s backwards;
}

.card:nth-child(8) {
    animation: fadeIn .5s 4s backwards;
}

.card:nth-child(9) {
    animation: fadeIn .5s 4.5s backwards;
}

.card:hover {
    transform: scale(1.05);
}

/* TEAM SECTION ENDS HERE */


/* DONATE TO US PAGE EFFECTS STARTS HERE*/
.donate-margin{
   margin-top: 10%; 
   margin-bottom: 100px;
}
.mobile-donate-margin{
    margin-top:15%;
    margin-left: 4%;
    margin-right:2%;
    margin-bottom:10%;
}

.form-border{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 8%;
    padding-bottom:5%;
    /* padding:10px 40px 80px 40px; */
    /* border-top: #DC3522;
    border-bottom: #DC3522;
    border-left: #DC3522;
    border-right: #DC3522;
    border-width: 1px;
    border-style: dashed; */
    border-top: #DC3522;
    border-bottom: #DC3522;
    border-right:black;
    border-left:black;
    border-style: solid;
    border-width: 1px;
    background-color:#D9DDDC;
    margin-bottom: 10%;

}

.form-margin {
    margin-bottom: 100px;
}


#content-mobile .mobile-donate-margin{
    margin-left: 2%;
    margin-right:2%;
}

/* #content-desktop .bankBoxedStyle:hover {
    background-color: rgb(206, 205, 205);
    border: none;
    box-shadow: 2px 2px 5px #9E9E9E;
 
} */

#content-desktop .bankBoxedStyle:after {
    background-color: white;
    /* content: ""; */
 
}
#content-desktop .viah3 {
    color: #DC3522;
    font-family: 'ubuntu';
 
}

.plea{
    font-size: 25px;
    margin-left:4%;
    margin-right:4%;
}
.help-message{
    font-family: 'Bree Serif', serif;
    color: #DC3522;
}




/* DONATE TO US PAGE EFFECTS ENDS HERE */





/* FOOTER SECTION */
a {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}

a:hover {
    color: #EAF6F6;
}

a:hover.links {
    color: burlywood;
}

.contact-me {
    color: #e74c3c;
    ;
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}

/* .contact-message {
    width: 40%;
    margin: 40px auto 60px;
} */

.copyright {
    color: #EAF6F6;
    text-align: center;
    font-size: 1.5rem;
    margin: 15px 2px 15px 2px;
   
}
.copyrightText{
    color: #EAF6F6;
    text-align: center;
    font-size: 1rem;
    margin: 15px 2px 15px 2px;
}

.bottom-container {

    background-color: #E45C4D;
    padding: 50px 0 20px;
}

.btn {
    background: #DC3522;
    background-image: -webkit-linear-gradient(top, #DC3522, #E45C4D);
    background-image: -moz-linear-gradient(top, #DC3522, #E45C4D);
    background-image: -ms-linear-gradient(top, #DC3522, #E45C4D);
    background-image: -o-linear-gradient(top, #DC3522, #E45C4D);
    background-image: linear-gradient(to bottom, #DC3522, #E45C4D);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 8px;
    font-family: Monospace;
    color: #ffffff;
    /* font-size: 25px; */
    font-size: 1.290em;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    box-shadow: 1px 1px 20px 0px #363232;

}

.btn:hover {
    background: #E74C3C;
    background-image: -webkit-linear-gradient(top, #E74C3C, #CC3829);
    background-image: -moz-linear-gradient(top, #E74C3C, #CC3829);
    background-image: -ms-linear-gradient(top, #E74C3C, #CC3829);
    background-image: -o-linear-gradient(top, #E74C3C, #CC3829);
    background-image: linear-gradient(to bottom, #E74C3C, #CC3829);

}


@media only screen and (max-width:1208px){
    .carousel-caption {
        bottom: 370px;
    }
    .carousel-caption h5 {
        /* font-size:25px; */
        font-size: 1.290em;
    }
    #aboutUs h3 {
        /* font-size: 25px; */
        font-size: 1.290em;
    }

   #aboutUs h6 {
        /* font-size: 14px; */
        /* font-size: 20px; */
        font-size: 1.250em;
    }

}

/* iphone 6/7/plus view */
@media only screen and (max-width:414px) {
    .navbar-light .navbar-brand {
        font-size: 2500px;
        padding: 5px 5px;
    }

    .navbar-light .navbar-nav .nav-link{
        text-shadow: 2.5px 2.5px 2.5px black;
        color:#fff;
    }
    .navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link{
        color: #fff;
    }
    .navbar-nav.ml-auto {
        background: rgba(0, 0, 0, 0);
    }

    .navbar-toggler {
        padding: 1px 1px;
        /* font-size: 15px; */
        font-size: 	1.188em	;
        line-height: 0.1;
        background: #fff;
    }
    
    .nav-link {
        color: #fff;
    }

    .navbar-collapse {
        background: rgba(0, 0, 0, 0);
    }

    .carousel-caption {
        padding-bottom: 420px;
        /* padding-bottom:750% */

    }

    .carousel-caption h5 {
        /* font-size: 25px; */
          font-size:1.316em ;
    }

    .carousel-caption p {
        /* font-size: 18px; */
        font-size:112.5;
    }

    .carousel-caption a {
        padding: 10px 25px;
        /* padding:62.5% 156.25%; */
    }

    /* setting the new effect of the AboutUS section */

    #content-desktop {
        display: none;
    }

    #content-mobile {
        display: block;
    }
    .welfareCenter {
        position: relative;
        margin-left: .5%;
        display: block;
        margin-bottom: 5%;
        /* width: 15%; */
    }

    /* Adding Padding and other effects to Vision section and Mission Section */
    .vision {
        padding: 25px 50px 75px;
      
    }

    .mission {
        padding: 25px 50px 75px;
    }

    .projects-we-undertake {
        padding: 25px 50px 75px;
    }

    .target-beneficiaries {
        padding: 25px 50px 75px;
        line-height: 1.2;
    }

    div.projects-we-undertake {
        line-height: 2.5;
    }

    .boxed {
        border-style: dotted;
        border: 2px white;
        height: 0%;
        box-shadow: 3px 3px 25px #e74c3c;
        margin-left: 25%;
        width: 50%;

    }

    #content-mobile .boxed:hover {
        background-color: rgb(206, 205, 205);
        border: none;
        box-shadow: 2px 2px 5px #9E9E9E;
    }

    #content-mobile .boxed:after {
        background-color: white;
        content: "";
    }

    #team img {
        margin-top: -80px;

    }

    #team i {
        /* font-size: 26px; */
        font-size:1.398em ;
    }

    #team p {
        font-weight: 300;
    }


    #team .card {
        border-radius: 0;
        box-shadow: 5px 5px 15px #e74c3c;
        transition: all 0.3s ease-in;
        -webkit-transition: all 0.3s ease-in;
        -moz-transition: all 0.3s ease-in;
        margin-bottom: 200px;
        /* margin-bottom:50%; */
        margin-left: 20px;
        /* margin-left:125%; */
    

    }

    #team .card:hover {
        background: #e74c3c;
        color: #fff;
        border-radius: 5px;
        border: none;
        box-shadow: 5px 5px 10px #9E9E9E;
    }

    #team .card:hover h3,
    #team .card:hover i {
        color: #fff;
    }


}



/* PHONE VIEW CSS */
/* max-width:960px */
@media only screen and (max-width:1132px) {
    
    .navbar-light .navbar-brand {
        /* font-size: 18.5px; */
        font-size: 	1.130em;
        /* padding: 4px 2px; */
        padding-left: 0.5px;
        margin-left:1px;
    }

    .navbar-light .navbar-nav .nav-link{
        text-shadow: 2.5px 2.5px 2.5px black;
        color:#fff;
    }
    .navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link{
        color: #fff;
    }
    .navbar-nav.ml-auto {
        background: rgba(0, 0, 0, 0);
    }

    .navbar-toggler {
        padding: 2px 2px;
        /* font-size: 10px; */
        line-height: 0.1;
        background: #fff;
        margin-right: 40px;
    }
    
    .nav-link {
        color: #fff;
        line-height: 0.1;
        /* font-size: 25px; */
        font-size: 1.45em;
    }

    .navbar-collapse {
        background: rgba(0, 0, 0, 0);
    }


    .dropdown-margin{
        margin-bottom: 15px;
        text-align: center;
    }
    

    .carousel-caption {
        padding-bottom: 120px;
        /* padding-bottom:750% */

    }

    .carousel-caption h5 {
        /* font-size: 25px; */
        font-size: 1.45em;
    }

    /* .carousel-caption p { */
        /* font-size: 18px; */
        /* font-size:112.5;
    } */

    .carousel-caption a {
        padding: 10px 25px;
        /* padding:62.5% 156.25%; */
    }

    .w-100 {
        height: 100vh;
        /* height: auto; */
    }

    
    /* TARGETING THE H1,H3,H6 ,H5 AND P OF THE CAROUSEL FOR A BETTER MOBILE SCREEN VIEW */
#content-mobile p{
    font-size: 1.125em;
    /* font-size:18px; */
    letter-spacing: 2px;

}
#content-mobile h1{
    /* font-size: 40px; */
    font-size: 2.5em;
}

#content-mobile h3{
    /* font-size: 25px; */
    font-size: 1.45em;
}

#content-mobile h6{
    /* font-size: 18px; */
    font-size: 1.125em;
}

#content-mobile h5{

    /* font-size:30px; */
    font-size: 1.70em;
}
#content-mobile .carousel-caption {
    /* bottom: 315px; */
    bottom:22%;
}

#content-mobile .added-bottom{
    bottom: 15%;
}
    /* setting the new effect of the AboutUS section */

    #content-desktop {
        display: none;
    }

    #content-mobile {
        display: block;
    }
    .welfareCenter {
        position: relative;
        margin-left: 2%;
        display: block;
        margin-bottom: 5%;
        /* width: .5%; */
    }
    

    .patronCenter {
        position: relative;
        margin-left: 2%;
        display: block;
        margin-bottom: 5%;
        /* width: .5%; */
    }

    /* LAST ROW MARGIN */
.last-row-margin{
    margin-left:0%;
    margin-right:0%;
}
    
   
    /* Adding Padding and other effects to Vision section and Mission Section */
    .vision {
        /* padding: 25px 50px 75px; */
        padding:20px 30px 45px;
    }

    .mission {
        /* padding: 25px 50px 75px; 
        */
        padding:20px 30px 45px;
    }

    .projects-we-undertake {
        /* padding: 25px 45px 75px; */
        text-align: center;
        padding:20px 30px 45px;
    }

    .target-beneficiaries {
        /* padding: 25px 50px 75px; */
        text-align: center;
        padding:20px 30px 45px;
        line-height: 1.2;
    }

    div.projects-we-undertake {
        line-height: 2.5;
    }

    .boxed {
        border-style: dotted;
        border: 2px white;
        height: 0%;
        box-shadow: 3px 3px 25px #e74c3c;
        /* margin-left: 25%; */
        margin-left:20%;
        width:60%;
        /* width: 50%; */

    }

    #content-mobile .boxed:hover {
        background-color: rgb(206, 205, 205);
        border: none;
        box-shadow: 2px 2px 5px #9E9E9E;
     
    }

    #content-mobile .boxed:after {
        background-color: white;
        /* content: ""; */
     
    }

    #team img {
        margin-top: -80px;

    }

    #team i {
        font-size: 26px;
    }

    #team p {
        font-weight: 300;
    }


    #team .card {
        border-radius: 0;
        box-shadow: 5px 5px 15px #e74c3c;
        transition: all 0.3s ease-in;
        -webkit-transition: all 0.3s ease-in;
        -moz-transition: all 0.3s ease-in;
        /* margin-bottom: 200px; */
        margin-bottom:50%;
        margin-left: 15px;
        /* max-width: fit-content; */
        /* margin-left:125%; */
    

    }

    #team .card:hover {
        background: #e74c3c;
        color: #fff;
        border-radius: 5px;
        border: none;
        box-shadow: 5px 5px 10px #9E9E9E;
    }

    #team .card:hover h3,
    #team .card:hover i {
        color: #fff;
    }


/* SETTING CONTACT US MOBILE VIEW */
#contactUs h3{
    /* font-size:24px; */
    font-size: 1.333em;
}
    

#contactUs h6{
    /* font-size:18px; */
    font-size: 1.125em;
}

 /* SETTING THE FOOTER MOBILE VIEW */
    .copyright {
        color: #EAF6F6;
        text-align: center;
        /* font-size: 18px; */
        font-size: 1.125em;
        margin: 15px 1px 15px 2px;
       
    }
    .copyrightText{
        color: #EAF6F6;
        text-align: center;
        /* font-size: 18px; */
        font-size: 1.125em;
        margin: 15px 1px 15px 2px;
    }

    /* MOBILE VIEW OF DONATE US PAGE */
#content-mobile .viah3{
        color: #DC3522;
        font-family: 'ubuntu';
    }
  
    #content-mobile .plea{
        font-size: 20px;
        margin-left:4%;
        margin-right:4%;
    }
    #content-mobile .help-message{
        font-family: 'Bree Serif', serif;
        color: #DC3522;
    }

}